{%- liquid
  assign loading = 'eager'
  assign fetchpriority = 'auto'
  if section.index == 1
    assign fetchpriority = 'high'
  elsif section.index > 2
    assign loading = 'lazy'
  endif

  assign minimum_free_shipping_value = settings.minimum_free_shipping_value | default: 0 | times: 100
  assign amount = minimum_free_shipping_value | minus: cart.total_price | money
-%}
<div
  class="mt-4"
  x-data="
    {
      items: {{ cart.items | json | escape | replace: '"', "'" }},
      itemsCount: {{ cart.item_count }},
      cartTotalPrice: {{ cart.total_price }},
      freeShippingMinimumValue: {{ minimum_free_shipping_value }},
      freeShippingRemainingValue: 0,
      freeShippingRemainingPercentual: 0
    }
  "
  x-init="
    freeShippingRemainingValue = freeShippingMinimumValue - cartTotalPrice
    freeShippingRemainingPercentual = (cartTotalPrice / freeShippingMinimumValue) * 100

    $store.cart.refresh(itemsCount, items)
  "
>
  {% if cart.empty? %}
    <div class="flex flex-col items-center justify-center">
      <div class="card flex w-full max-w-[50rem] flex-col items-center justify-center gap-6 px-8 py-16">
        <div>
          {% if settings.cart_placeholder != blank %}
            {{
              settings.cart_placeholder
              | image_url: width: 960
              | image_tag: loading: loading, fetchpriority: fetchpriority, class: 'image h-32 w-32'
            }}
          {% else %}
            <img
              width="640"
              height="640"
              loading="lazy"
              fetchpriority="{{ fetchpriority }}"
              src="{{ 'empty-cart.png' | asset_img_url: 'large' }}"
              alt="{{ 'sections.main_cart.empty_cart' | t }}"
              class="image h-32 w-32"
            >
          {% endif %}
        </div>
        <div class="flex flex-col items-center gap-2">
          <h2 class="title text-center font-serif text-h2">{{ 'sections.main_cart.empty_cart' | t }}</h2>
          <p class="text text-center text-neutral-600">{{ 'sections.main_cart.check_product' | t }}</p>
        </div>
        <a
          aria-label="{{- 'sections.main_cart.keep_buying' | t -}}"
          href="{{ routes.root_url }}"
          class="button button-primary w-full max-w-xs"
        >
          {{- 'sections.main_cart.keep_buying' | t -}}
        </a>
      </div>
    </div>
  {% else %}
    <div class="grid grid-cols-1 gap-4 md:grid-cols-12">
      <div class="col-span-full md:col-span-4">
        <div class="sticky top-20">
          <div class="flex items-end gap-2">
            <h1 class="title font-serif text-h2 font-bold md:text-h1">{{ 'sections.main_cart.cart' | t }}</h1>
            {% if cart.item_count > 0 %}
              <span class="text-neutral-600">
                (
                {{- cart.item_count }}
                {{ cart.item_count | pluralize: 'item', 'itens' -}}
                )
              </span>
            {% endif %}
          </div>
          {% if settings.activate_free_shipping and minimum_free_shipping_value > 0 and cart.item_count != 0 %}
            <div
              x-show="freeShippingMinimumValue > 0"
              class="rounded"
            >
              <div>
                <template x-if="freeShippingRemainingPercentual >= 100">
                  <div>
                    <div class="mb-2 h-2 w-full overflow-hidden rounded-full bg-neutral-100">
                      <div
                        x-data="{ progressBarWidth: 0 }"
                        x-init="setTimeout(() => progressBarWidth = freeShippingRemainingPercentual, 500)"
                        x-show="progressBarWidth >= 100"
                        role="progressbar"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        class="h-2 rounded-full rounded-r-none bg-gradient-to-r from-[#15803D] to-[#15F469]  transition-all duration-1000 ease-in-out"
                        :style="{ width: `${progressBarWidth}%` }"
                      ></div>
                    </div>
                    <span class="text-boby-sm lining-nums tabular-nums text-success-950 md:text-body-base">
                      {{- 'snippets.side_cart_content.free_shipping' | t -}}
                    </span>
                  </div>
                </template>
                <template x-if="freeShippingRemainingPercentual < 100">
                  <div>
                    <div class="mb-2 h-2 w-full rounded-full bg-neutral-100">
                      <div
                        x-data="{ progressBarWidth: 0 }"
                        x-init="setTimeout(() => progressBarWidth = freeShippingRemainingPercentual, 500)"
                        x-show="progressBarWidth < 100"
                        role="progressbar"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        class="h-2 rounded-full rounded-r-none bg-gradient-to-r from-[#FEEA01] to-[#FF5F00] transition-all duration-1000 ease-in-out"
                        :style="{ width: `${progressBarWidth}%` }"
                      ></div>
                    </div>
                    <p class="text-boby-sm lining-nums tabular-nums md:text-body-base">
                      {{ 'snippets.side_cart_content.for_more' | t }}
                      <strong>{{ amount }}</strong> {{ 'snippets.side_cart_content.win_free_shipping' | t }}
                    </p>
                  </div>
                </template>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
      <div class="col-span-full space-y-4 md:col-span-7 md:col-start-6 md:space-y-8">
        <div class="flex flex-col gap-8">
          {% for item in cart.items %}
            {% render 'cart-item', item: item, key: forloop.index %}
            {% if forloop.last != true %}
              <hr class="border-t border-neutral-300">
            {% endif %}
          {% endfor %}
        </div>
        {% if settings.show_shipping_calculate %}
          <details
            class="accordion"
            x-data='
              {
                shippingEnterprises: [],
                state: "",
                city: "",
                error: "",
                maskCEP() {
                    const cep = document.getElementById("cep");
                    cep.addEventListener("input", (event) => {
                        let valor = event.target.value;
                        valor = valor.replace(/\D/g, "");
                        valor = valor.replace(/^(\d{5})(\d)/, "$1-$2");
                        event.target.value = valor;
                    });
                },
                async shippingCalculateCart(cep) {
                    window.localStorage.setItem("cep", cep);
                    cep = cep.replace(/-/g, "");
                    this.error = "";
                    const states = {
                        AC: "Acre",
                        AL: "Alagoas",
                        AP: "Amapá",
                        AM: "Amazonas",
                        BA: "Bahia",
                        CE: "Ceará",
                        DF: "Distrito Federal",
                        ES: "Espírito Santo",
                        GO: "Goiás",
                        MA: "Maranhão",
                        MT: "Mato Grosso",
                        MS: "Mato Grosso do Sul",
                        MG: "Minas Gerais",
                        PA: "Pará",
                        PB: "Paraíba",
                        PR: "Paraná",
                        PE: "Pernambuco",
                        PI: "Piauí",
                        RJ: "Rio de Janeiro",
                        RN: "Rio Grande do Norte",
                        RS: "Rio Grande do Sul",
                        RO: "Rondônia",
                        RR: "Roraima",
                        SC: "Santa Catarina",
                        SP: "São Paulo",
                        SE: "Sergipe",
                        TO: "Tocantins"
                    };
                    if (cep.length == 8) {
                        const { uf, localidade, cep: foo } = await this.getCepData(cep);
                        this.state = states[uf];
                        this.city = localidade;
                        await this.cartGetRates("Brazil", states[uf], localidade, foo);
                    }else{
                        this.error = "CEP inválido";
                    }
                },
                async cartGetRates(country, state, city, zip) {
                    const shippingData = {
                      "shipping_address[country]": country,
                      "shipping_address[province]": state,
                      "shipping_address[address1]": zip,
                      "shipping_address[zip]": zip
                    }
                    await fetch("/cart/prepare_shipping_rates.json?" + new URLSearchParams(shippingData).toString(), {
                      method: "POST",
                      headers: {
                        "Content-Type": "application/json"
                      }
                    })
                    await fetch("/cart/async_shipping_rates.json?" + new URLSearchParams(shippingData).toString())
                    .then((response) => response.json())
                    .then((data) => this.shippingEnterprises = data)
                    .catch((error) => {
                      this.error = error
                      console.error("Error:", error)
                    })
                },
                async getCepData(cep){
                    const response = await fetch("https://viacep.com.br/ws/" + cep + "/json/");
                    const data = await response.json();
                    return data;
                }
              }
            '
            x-init="$refs.cep.value = window.localStorage.getItem('cep')"
          >
            <summary class="accordion-action">
              {{ 'snippets.side_cart_content.shipping_calculate' | t }}
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.23017 7.20938C5.52875 6.92228 6.00353 6.93159 6.29063 7.23017L10 11.1679L13.7094 7.23017C13.9965 6.93159 14.4713 6.92228 14.7698 7.20938C15.0684 7.49647 15.0777 7.97125 14.7906 8.26983L10.5406 12.7698C10.3992 12.9169 10.204 13 10 13C9.79599 13 9.60078 12.9169 9.45938 12.7698L5.20938 8.26983C4.92228 7.97125 4.93159 7.49647 5.23017 7.20938Z" fill="currentColor"/>
              </svg>
            </summary>
            <p class="accordion-content">
              <div class="mb-2 flex flex-col gap-4 md:flex-row">
                <div class="flex flex-1 flex-col gap-2">
                  <label for="shipping" class="sr-only text-body-sm font-semibold">
                    {{- 'snippets.side_cart_content.shipping' | t -}}
                  </label>
                  <input
                    id="cep"
                    name="cep"
                    type="text"
                    @keypress="maskCEP"
                    maxlength="9"
                    x-ref="cep"
                    value=""
                    class="input grow"
                    placeholder="{{ 'snippets.side_cart_content.insert_cep' | t }}"
                  >
                </div>
                <button
                  @click.prevent="shippingCalculateCart($refs.cep.value)"
                  class="button button-outline button-primary"
                >
                  {{ 'snippets.side_cart_content.shipping_calculate' | t }}
                </button>
              </div>
              <div x-show="city != '' && error == ''" class="mt-4">
                <template x-for="enterprise in shippingEnterprises.shipping_rates">
                  <div class="mb-3 flex w-full flex-row place-content-between">
                    <div class="">
                      <span class="font-bold" x-text="enterprise.name"></span>
                      <span
                        x-show="enterprise.delivery_days.length != 0"
                        class="text-sm"
                        x-text="'(' + enterprise.delivery_days[1] + ' dias úteis)'"
                      ></span>
                    </div>
                    <span class="text-base font-bold" x-text="'R$ ' + enterprise.price.replace('.', ',')"></span>
                  </div>
                </template>
              </div>
            </p>
          </details>
        {% endif %}

        {% if settings.show_weight_total %}
          <details class="accordion">
            <summary class="accordion-action">
              {{ 'snippets.side_cart_content.total_weight' | t }}
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.23017 7.20938C5.52875 6.92228 6.00353 6.93159 6.29063 7.23017L10 11.1679L13.7094 7.23017C13.9965 6.93159 14.4713 6.92228 14.7698 7.20938C15.0684 7.49647 15.0777 7.97125 14.7906 8.26983L10.5406 12.7698C10.3992 12.9169 10.204 13 10 13C9.79599 13 9.60078 12.9169 9.45938 12.7698L5.20938 8.26983C4.92228 7.97125 4.93159 7.49647 5.23017 7.20938Z" fill="currentColor"/>
              </svg>
            </summary>
            <p class="accordion-content mb-2 text-h6 font-bold">{{ cart.total_weight }}g</p>
          </details>
        {% endif %}

        {% if settings.show_special_comments %}
          <details
            class="accordion"
            x-data="{ note: $persist('') }"
          >
            <summary class="accordion-action">
              {{ 'snippets.side_cart_content.special_instructions' | t }}
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.23017 7.20938C5.52875 6.92228 6.00353 6.93159 6.29063 7.23017L10 11.1679L13.7094 7.23017C13.9965 6.93159 14.4713 6.92228 14.7698 7.20938C15.0684 7.49647 15.0777 7.97125 14.7906 8.26983L10.5406 12.7698C10.3992 12.9169 10.204 13 10 13C9.79599 13 9.60078 12.9169 9.45938 12.7698L5.20938 8.26983C4.92228 7.97125 4.93159 7.49647 5.23017 7.20938Z" fill="currentColor"/>
              </svg>
            </summary>
            <p class="accordion-content">
              {% form 'cart', cart %}
                <textarea
                  id="note"
                  rows="4"
                  min="1"
                  name="note"
                  placeholder="{{ 'snippets.side_cart_content.add_observation' | t }}"
                  class="textarea w-full"
                  x-model="note"
                >{{ cart.note }}</textarea>
                <button class="button button-outline button-primary">
                  {{ 'sections.main_cart.apply_instructions' | t }}
                </button>
              {% endform %}
            </p>
          </details>
        {% endif %}

        <div class="space-y-6">
          <div>
            <div class="flex items-center justify-end gap-2">
              <span class="text">{{ 'sections.main_cart.subtotal' | t }}</span>
              <span class="price lining-nums tabular-nums">
                {{- cart.items_subtotal_price | money | default: 'R$ 0,00' -}}
              </span>
            </div>
            {% if cart.discounts.size > 0 %}
              <div class="flex items-center justify-end gap-2">
                <span class="text">{{ 'sections.main_cart.descount' | t }}</span>
                <span class="price lining-nums tabular-nums">
                  {{- cart.total_discount | money | default: 'R$ 0,00' -}}
                </span>
              </div>
            {% endif %}
          </div>
          <div class="price flex items-center justify-end gap-2">
            <span class="text text-body-lg">{{ 'sections.main_cart.total' | t }}</span>
            <strong class="price text-h6 lining-nums tabular-nums md:text-h5">
              {{- cart.total_price | money | default: 'R$ 0,00' -}}
            </strong>
          </div>
          <div class="flex flex-col-reverse justify-end gap-4 md:flex-row">
            <a
              aria-label="{{ 'sections.main_cart.keep_buying' | t }}"
              href="{{ routes.root_url }}"
              class="button button-ghost button-primary"
            >
              {{ 'sections.main_cart.keep_buying' | t }}
            </a>
            <a
              aria-label="{{ 'sections.main_cart.checkout' | t }}"
              href="/cart/checkout"
              class="button button-primary"
            >
              {{ 'sections.main_cart.checkout' | t }}
            </a>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</div>
