{% liquid
  assign product_variant = item.variant
  assign quantity_id = 'quantity_' | append: key
  assign final_price = item.quantity | times: item.final_price

  assign gift = ''
  assign send_as_gift = item.properties.Obs

  assign kit = item.properties.Kit

  if item.final_line_price == 0
    assign gift = 'Brinde'
  endif
%}
<div
  x-data="
    {
      loading: false,
      quantity: {{ item.quantity | default: 1 }},
      msg: {
        cart: '{{ 'snippets.cart_item.cart' | t }}',
        updated: '{{ 'snippets.cart_item.updated' | t }}',
        cart_error_message: '{{ 'snippets.cart_item.cart_error_message' | t }}',
        cart_error: '{{ 'snippets.cart_item.cart_error' | t }}'
      },
      handleChangeQuantity(quantity) {
        this.loading = true;

        const item = { id: '{{ item.key }}', quantity: quantity }

        $store.cart.updateItem(item)
        .then(response => {
          this.loading = false

          Alpine.$dispatch('show-notification', {
            type: 'info',
            title: this.msg.cart,
            description: this.msg.updated
          })

          if (quantity == 0) {
            $el.remove()
          }
          setTimeout(() => {
            window.location.reload()
          }, 1500)
          Log('Update Cart Item:', response)
        })
        .catch((error) => {
          $dispatch('show-notification', { type: 'error', title: this.msg.cart_error, description: this.msg.cart_error_message })
          console.error('Update Cart Item:', error)
        });
      },
    }
  "
  class="cart-item flex items-center gap-4"
>
  <div>
    {% if item.image == blank %}
      {% render 'product-placeholder',
        image_class: 'product-image image h-[6rem] w-[6rem] object-cover object-center lg:h-[12rem] lg:w-[12rem]'
      %}
    {% else %}
      <a aria-label="{{ item.image.src }}" href="{{ item.product.url | default: '#' }}">
        {{
          item.image
          | image_url: width: 250
          | image_tag:
            class: 'product-image image h-[6rem] w-[6rem] object-cover object-center lg:h-[12rem] lg:w-[12rem]'
        }}
      </a>
    {% endif %}
  </div>
  <div class="flex w-full flex-col justify-between gap-2 lg:flex-row lg:gap-4">
    <div class="flex flex-1 justify-between gap-2">
      <div class="space-y-1">
        {% if item.url != blank %}
          <a aria-label="{{ item.product.title }}" href="{{ item.product.url | default: '#' }}">
            <h3 class="product-title">{{ item.product.title }}</h3>
          </a>
        {% else %}
          <h3 class="product-title">{{ item.product.title }}</h3>
        {% endif %}
        <div class="flex flex-col gap-1">
          {% for option in item.options_with_values %}
            {%- if item.product.has_only_default_variant == false -%}
              <span class="text-body-sm text-neutral-600"> {{ option.name }} - {{ option.value }} </span>
            {%- endif -%}
          {% endfor %}
          {% if item.selling_plan_allocation != blank %}
            <span class="text-body-sm text-neutral-600">{{ item.selling_plan_allocation.selling_plan.name }}</span>
          {% endif %}
          {% if send_as_gift != blank %}
            <div class="inline-flex items-center gap-2 text-body-sm text-primary">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="h-6 w-6"
              >
                </span><path stroke-linecap="round" stroke-linejoin="round" d="M21 11.25v8.25a1.5 1.5 0 01-1.5 1.5H5.25a1.5 1.5 0 01-1.5-1.5v-8.25M12 4.875A2.625 2.625 0 109.375 7.5H12m0-2.625V7.5m0-2.625A2.625 2.625 0 1114.625 7.5H12m0 0V21m-8.625-9.75h18c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125h-18c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125z" />
              </svg>
              <span>{{ send_as_gift }}</span>
            </div>
          {% endif %}
          {% if gift != blank %}
            <div class="inline-flex items-center gap-2 text-body-sm text-green-800">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="h-6 w-6"
              >
                <path stroke-linecap="round" stroke-linejoin="round" d="M9.813 15.904L9 18.75l-.813-2.846a4.5 4.5 0 00-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 003.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 003.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 00-3.09 3.09zM18.259 8.715L18 9.75l-.259-1.035a3.375 3.375 0 00-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 002.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 002.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 00-2.456 2.456zM16.894 20.567L16.5 21.75l-.394-1.183a2.25 2.25 0 00-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 001.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 001.423 1.423l1.183.394-1.183.394a2.25 2.25 0 00-1.423 1.423z" />
              </svg>
              <span>
                {{- item.quantity }}
                {{ item.quantity | pluralize: 'brinde', 'brindes' -}}
              </span>
            </div>
          {% endif %}
          {% if kit != blank %}
            <div class="inline-flex items-center gap-2 text-body-sm text-info-700">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="h-6 w-6"
              >
                <path stroke-linecap="round" stroke-linejoin="round" d="M9.568 3H5.25A2.25 2.25 0 003 5.25v4.318c0 .597.237 1.17.659 1.591l9.581 9.581c.699.699 1.78.872 2.607.33a18.095 18.095 0 005.223-5.223c.542-.827.369-1.908-.33-2.607L11.16 3.66A2.25 2.25 0 009.568 3z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 6h.008v.008H6V6z" />
              </svg>
              <span>{{ kit }}</span>
            </div>
          {% endif %}
        </div>
        {% if item.product.description != blank %}
          <div>
            <p class="product-description mt-4 line-clamp-2 text-body-sm text-neutral-600">
              {{ item.product.description | strip_html | escape }}
            </p>
          </div>
        {% endif %}
      </div>
      <div class="block space-y-1 text-right lg:hidden">
        <h3 class="price whitespace-nowrap font-bold lining-nums tabular-nums ">
          {% if final_price > 0 %}
            {{ final_price | money }}
          {% else %}
            {{ 'snippets.cart_item.free' | t }}
          {% endif %}
        </h3>
        {% if product_variant.compare_at_price > product_variant.price %}
          <p class="compare-at-price whitespace-nowrap text-body-sm lining-nums tabular-nums text-neutral-600 line-through">
            {{ item.quantity | times: product_variant.compare_at_price | money }}
          </p>
        {% elsif product_variant.price > item.original_price %}
          <p class="compare-at-price whitespace-nowrap text-body-sm lining-nums tabular-nums text-neutral-600 line-through">
            {{ item.quantity | times: product_variant.price | money }}
          </p>
        {% elsif item.original_price > item.price %}
          <p class="compare-at-price whitespace-nowrap text-body-sm lining-nums tabular-nums text-neutral-600 line-through">
            {{ item.quantity | times: item.original_price | money }}
          </p>
        {% endif %}
        {% if product_variant.compare_at_price != blank and product_variant.compare_at_price > product_variant.price %}
          <span class="tag inline-flex items-center text-helptext lining-nums tabular-nums">
            {{-
              product_variant.compare_at_price
              | minus: product_variant.price
              | times: 100.0
              | divided_by: product_variant.compare_at_price
              | round
            -}}
            {{ 'common.off' | t }}
          </span>
        {% endif %}
      </div>
    </div>
    <div class="space-y-1">
      {% if item.final_line_price > 0 %}
        <div class="flex flex-row gap-2 lg:flex-col">
          <div class="flex w-24 flex-col gap-2 lg:mx-auto">
            <label for="{{ quantity_id }}" class="sr-only">{{ 'snippets.cart_item.quantity' | t }}</label>
            <div
              class="input inline-flex items-center justify-center"
              role="group"
            >
              <button
                type="button"
                @click="handleChangeQuantity(--quantity)"
                x-bind:disabled="quantity <= 1"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="h-5 w-5"
                >
                  <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15" />
                </svg>
              </button>
              <input
                id="{{ quantity_id }}"
                type="number"
                min="0"
                max="9999"
                size="4"
                name="quantity"
                x-model="quantity"
                :disabled="loading"
                value="{{ item.quantity }}"
                placeholder="{{ 'snippets.cart_item.quantity' | t }}"
                @change="handleChangeQuantity(quantity)"
                class="w-full border-none p-0 text-center text-body-base [appearance:textfield] [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:appearance-none"
              >
              <button
                type="button"
                @click="handleChangeQuantity(++quantity)"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="h-5 w-5"
                >
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                </svg>
              </button>
            </div>
          </div>
          <button
            @click="handleChangeQuantity(0)"
            :disabled="loading"
            class="button button-ghost button-black w-fit text-body-sm"
          >
            <svg
              width="25"
              height="24"
              viewBox="0 0 25 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="!h-4 !w-4"
            >
              <path d="M15.2404 9L14.8942 18M10.1058 18L9.75962 9M19.7276 5.79057C20.0696 5.84221 20.4104 5.89747 20.75 5.95629M19.7276 5.79057L18.6598 19.6726C18.5696 20.8448 17.5921 21.75 16.4164 21.75H8.58357C7.40786 21.75 6.43037 20.8448 6.3402 19.6726L5.27235 5.79057M19.7276 5.79057C18.5812 5.61744 17.4215 5.48485 16.25 5.39432M4.25 5.95629C4.58957 5.89747 4.93037 5.84221 5.27235 5.79057M5.27235 5.79057C6.41878 5.61744 7.57849 5.48485 8.75 5.39432M16.25 5.39432V4.47819C16.25 3.29882 15.3393 2.31423 14.1606 2.27652C13.6092 2.25889 13.0556 2.25 12.5 2.25C11.9444 2.25 11.3908 2.25889 10.8394 2.27652C9.66065 2.31423 8.75 3.29882 8.75 4.47819V5.39432M16.25 5.39432C15.0126 5.2987 13.762 5.25 12.5 5.25C11.238 5.25 9.98744 5.2987 8.75 5.39432" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            {{ 'snippets.cart_item.remove' | t }}
            <span class="sr-only">{{ item.title }}</span>
          </button>
        </div>
      {% endif %}
    </div>
    <div class="hidden space-y-1 text-right lg:block lg:w-1/6">
      <h3 class="price whitespace-nowrap font-bold lining-nums tabular-nums">
        {% if final_price > 0 %}
          {{ final_price | money }}
        {% else %}
          {{ 'snippets.cart_item.free' | t }}
        {% endif %}
      </h3>
      {% if product_variant.compare_at_price > product_variant.price %}
        <p class="compare-at-price whitespace-nowrap text-body-sm lining-nums tabular-nums text-neutral-600 line-through">
          {{ item.quantity | times: product_variant.compare_at_price | money }}
        </p>
      {% elsif product_variant.price > item.original_price %}
        <p class="compare-at-price whitespace-nowrap text-body-sm lining-nums tabular-nums text-neutral-600 line-through">
          {{ item.quantity | times: product_variant.price | money }}
        </p>
      {% elsif item.original_price > item.price %}
        <p class="compare-at-price whitespace-nowrap text-body-sm lining-nums tabular-nums text-neutral-600 line-through">
          {{ item.quantity | times: item.original_price | money }}
        </p>
      {% endif %}
      {% if product_variant.compare_at_price != blank and product_variant.compare_at_price > product_variant.price %}
        <span class="tag inline-flex items-center text-helptext lining-nums tabular-nums">
          {{-
            product_variant.compare_at_price
            | minus: product_variant.price
            | times: 100.0
            | divided_by: product_variant.compare_at_price
            | round
          -}}
          {{ 'common.off' | t }}
        </span>
      {% endif %}
    </div>
  </div>
</div>
