{% liquid
  assign discountPercentage = product.selected_or_first_available_variant.compare_at_price | minus: product.selected_or_first_available_variant.price | times: 100.0 | divided_by: product.selected_or_first_available_variant.compare_at_price | round
  assign product_featured_image = product.featured_image | image_url

  if product_featured_image == blank
    if settings.product_placeholder != blank
      assign product_featured_image = settings.product_placeholder | image_url
    endif
  endif

  assign loading = 'eager'
  assign fetchpriority = 'auto'
  if section.index == 1
    assign fetchpriority = 'high'
  elsif section.index > 2
    assign loading = 'lazy'
  endif

  assign media_class = 'product-media media w-full object-cover object-center '
  if section.settings.image_ratio != blank
    assign media_class = media_class | append: section.settings.image_ratio
  elsif settings.product_card_image_ratio != blank
    assign media_class = media_class | append: settings.product_card_image_ratio
  endif
%}

<div
  {% if section.settings.button_action == 'go-to-product' %}
    @click="window.location.href='{{ product.selected_or_first_available_variant.url | default: product.url }}'"
    :class="
      {
        'cursor-pointer': true
      }
    "
  {% endif %}
  class="product-card card relative flex h-full flex-col justify-between {{ settings.card_bg_color }} p-4 {{ settings.box_border_radius }} {% if settings.show_border == true %} {{ settings.box_border_size }} {% else %} border-none {% endif %} {{ settings.box_border_color }}"
>
  <div>
    <div class="relative w-full bg-white">
      <a
        aria-label="{{ 'common.aria_label.product_image' | t }}"
        href="{{ product.selected_or_first_available_variant.url | default: product.url }}"
      >
        {% if product.featured_media != blank %}
          {% case product.featured_media.media_type %}
            {% when 'external_video' %}
              {{ product.featured_media | external_video_tag: class: media_class }}
            {% when 'video' %}
              {{ product.featured_media | video_tag: autoplay: true, muted: true, loop: true, class: media_class }}
            {% when 'model' %}
              {{ product.featured_media | model_viewer_tag: class: media_class }}
            {% when 'image' %}
              {{
                product.featured_media
                | image_url: width: 600
                | image_tag: loading: loading, fetchpriority: fetchpriority, class: media_class
              }}
          {% endcase %}
        {% else %}
          {% render 'product-placeholder', media_class: media_class %}
        {% endif %}
      </a>
      {% if settings.show_discount == 'true' and discountPercentage > 0 %}
        <div class="tag absolute left-2 top-2 px-2 py-1 {{ settings.discount_background_color }} {{ settings.discount_text_color }}">
          <span>
            {{- discountPercentage -}}
            {{- 'common.off' | t -}}
          </span>
        </div>
      {% endif %}
    </div>
    <div class="mt-4 flex flex-col gap-4">
      <a
        aria-label="{{ product.title }}"
        href="{{ product.selected_or_first_available_variant.url | default: product.url }}"
      >
        <span class="product-title font-bold {{ settings.title_color }} {{ settings.title_size }}">
          {{- product.title -}}
        </span>
      </a>
      <div>
        <p class="{{ settings.text_color }} {{ settings.text_size }}">{{ 'snippets.product_card_elegant.from' | t }}</p>
        <p class="price font-semibold {{ settings.price_color }} {{ settings.price_size }}">
          {{ product.selected_or_first_available_variant.price | money }}
        </p>
      </div>
    </div>
  </div>
  <div
    x-data="
      {
        loading: false,
        handleAdd() {
          this.loading = true

          const items = [{ id: '{{ product.selected_or_first_available_variant.id }}', quantity: 1 }]

          $store.cart.addItems(items)
          .then(response => {
            this.loading = false

            {% if settings.cart_type != 'side' %}
              $dispatch('show-notification', { type: 'success', title: '{{ 'common.notification.cart' | t }}', description: '{{ 'common.notification.add_success' | t }}' })
            {% endif %}

            $dispatch('cart-change')

            $store.cart.fetchItems()

            Log('Add to Cart:', response)
          })
        }
      }
    "
    class="mt-6"
  >
    {% liquid
      assign button_class = ''

      if product.available
        assign button_class = settings.buy_button_color | append: ' ' | append: settings.buy_button_style | append: ' ' | append: settings.buy_button_size
      else
        assign button_class = 'button border-gray-400 bg-gray-300 text-gray-400'
      endif
    %}
    <button
      {% if product.available %}
        {% if section.settings.button_action != 'go-to-product' %}
          @click="handleAdd()"
        {% endif %}
        :disabled="loading"
      {% else %}
        disabled
      {% endif %}
      class="w-full {{ button_class }}"
    >
      {% render 'loading-spinner' %}
      <div x-show="!loading">
        {% if product.available %}
          {{ section.settings.product_button_text | default: settings.buy_button_label }}
        {% else %}
          {{ 'common.sold_out' | t }}
        {% endif %}
        <span class="sr-only">{{ product.title }}</span>
      </div>
    </button>
  </div>
</div>
