{% assign url = request.origin | append: request.path %}

<div class="social-share flex flex-wrap items-center gap-8" x-data="">
  <a
    href="https://www.facebook.com/sharer.php?u={{ url }}"
    target="_blank"
    rel="noopener"
    aria-label="Facebook"
    class="button-icon button-icon-ghost social-icon"
  >
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M7 9.99902V13.999H10V20.999H14V13.999H17L18 9.99902H14V7.99902C14 7.73381 14.1054 7.47945 14.2929 7.29192C14.4804 7.10438 14.7348 6.99902 15 6.99902H18V2.99902H15C13.6739 2.99902 12.4021 3.52581 11.4645 4.46349C10.5268 5.40117 10 6.67294 10 7.99902V9.99902H7Z" stroke="#111111" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </a>
  <a
    href="https://twitter.com/intent/tweet?url={{ url }}"
    target="_blank"
    rel="noopener"
    aria-label="Twitter"
    class="button-icon button-icon-ghost social-icon"
  >
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M22 4.00904C21 4.49904 20.02 4.69804 19 4.99904C17.879 3.73404 16.217 3.66404 14.62 4.26204C13.023 4.86004 11.977 6.32204 12 7.99904V8.99904C8.755 9.08204 5.865 7.60404 4 4.99904C4 4.99904 -0.182 12.432 8 15.999C6.128 17.246 4.261 18.087 2 17.999C5.308 19.802 8.913 20.422 12.034 19.516C15.614 18.476 18.556 15.793 19.685 11.774C20.0218 10.5517 20.189 9.2889 20.182 8.02104C20.182 7.77204 21.692 5.24904 22 4.00804V4.00904Z" stroke="#111111" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </a>
  <a
    href="https://www.instagram.com/?url={{ url }}"
    target="_blank"
    rel="noopener"
    aria-label="Instagram"
    class="button-icon button-icon-ghost social-icon"
  >
    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M16.5 7.82532V7.83532M4 8.32532C4 7.26445 4.42143 6.24704 5.17157 5.49689C5.92172 4.74674 6.93913 4.32532 8 4.32532H16C17.0609 4.32532 18.0783 4.74674 18.8284 5.49689C19.5786 6.24704 20 7.26445 20 8.32532V16.3253C20 17.3862 19.5786 18.4036 18.8284 19.1537C18.0783 19.9039 17.0609 20.3253 16 20.3253H8C6.93913 20.3253 5.92172 19.9039 5.17157 19.1537C4.42143 18.4036 4 17.3862 4 16.3253V8.32532ZM9 12.3253C9 13.121 9.31607 13.884 9.87868 14.4466C10.4413 15.0092 11.2044 15.3253 12 15.3253C12.7956 15.3253 13.5587 15.0092 14.1213 14.4466C14.6839 13.884 15 13.121 15 12.3253C15 11.5297 14.6839 10.7666 14.1213 10.204C13.5587 9.64139 12.7956 9.32532 12 9.32532C11.2044 9.32532 10.4413 9.64139 9.87868 10.204C9.31607 10.7666 9 11.5297 9 12.3253Z" stroke="#111111" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </a>
  {% if settings.show_as_sharing_whatsapp %}
    <a
      href="https://api.whatsapp.com/send?text={{ url }}"
      target="_blank"
      rel="noopener"
      aria-label="Whatsapp"
      class="button-icon button-icon-ghost social-icon"
    >
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M9 10.0003C9 10.1329 9.05268 10.2601 9.14645 10.3539C9.24021 10.4476 9.36739 10.5003 9.5 10.5003C9.63261 10.5003 9.75979 10.4476 9.85355 10.3539C9.94732 10.2601 10 10.1329 10 10.0003V9.00031C10 8.8677 9.94732 8.74052 9.85355 8.64675C9.75979 8.55298 9.63261 8.50031 9.5 8.50031C9.36739 8.50031 9.24021 8.55298 9.14645 8.64675C9.05268 8.74052 9 8.8677 9 9.00031V10.0003ZM9 10.0003C9 11.3264 9.52678 12.5982 10.4645 13.5358C11.4021 14.4735 12.6739 15.0003 14 15.0003M14 15.0003H15C15.1326 15.0003 15.2598 14.9476 15.3536 14.8539C15.4473 14.7601 15.5 14.6329 15.5 14.5003C15.5 14.3677 15.4473 14.2405 15.3536 14.1468C15.2598 14.053 15.1326 14.0003 15 14.0003H14C13.8674 14.0003 13.7402 14.053 13.6464 14.1468C13.5527 14.2405 13.5 14.3677 13.5 14.5003C13.5 14.6329 13.5527 14.7601 13.6464 14.8539C13.7402 14.9476 13.8674 15.0003 14 15.0003ZM3 21.0003L4.65 17.2003C3.38766 15.4083 2.82267 13.2173 3.06104 11.0384C3.29942 8.85945 4.32479 6.84241 5.94471 5.36579C7.56463 3.88918 9.66775 3.05449 11.8594 3.01837C14.051 2.98226 16.1805 3.7472 17.8482 5.16965C19.5159 6.59209 20.6071 8.57425 20.9172 10.7441C21.2272 12.914 20.7347 15.1225 19.5321 16.955C18.3295 18.7876 16.4994 20.1183 14.3854 20.6974C12.2713 21.2765 10.0186 21.0642 8.05 20.1003L3 21.0003Z" stroke="#111111" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </a>
  {% endif %}
  <button
    aria-label="{{ 'common.aria_label.copy_link' | t }}"
    @click="
      navigator.clipboard.writeText('{{ url }}')
      $dispatch('show-notification', { type: 'info', title: '{{ 'snippets.social_share.copy_text' | t }}', description: '{{ 'snippets.social_share.share_copy' | t }}' })
    "
    class="button-icon button-icon-ghost social-icon"
  >
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M9.00012 15.0003L15.0001 9.00031M11.0001 6.00031L11.4631 5.46431C12.4009 4.52663 13.6728 3.99991 14.999 4C16.3251 4.00009 17.5969 4.527 18.5346 5.46481C19.4723 6.40261 19.999 7.6745 19.9989 9.00066C19.9988 10.3268 19.4719 11.5986 18.5341 12.5363L18.0001 13.0003M13.0001 18.0003L12.6031 18.5343C11.6544 19.4725 10.3739 19.9987 9.03964 19.9987C7.70535 19.9987 6.42489 19.4725 5.47614 18.5343C5.0085 18.0719 4.63724 17.5213 4.38385 16.9144C4.13047 16.3076 4 15.6565 4 14.9988C4 14.3412 4.13047 13.69 4.38385 13.0832C4.63724 12.4763 5.0085 11.9257 5.47614 11.4633L6.00014 11.0003" stroke="#111111" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </button>
</div>
