<ul class="social-media flex flex-wrap gap-3">
  {%- if settings.social_whatsapp_link != blank -%}
    <li>
      <a
        class="social-icon {{ icons_color }}"
        target="_blank"
        aria-label="Whatsapp"
        href="{{ settings.social_whatsapp_link | default: '#' }}"
      >
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          aria-hidden="true"
          focusable="false"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M18.2679 5.65179C16.6205 3.96429 14.3705 3 11.9598 3C7.05804 3 3.04018 7.01786 3.04018 11.9196C3.04018 13.5268 3.48214 15.0536 4.24554 16.3795L3 21L7.70089 19.7946C9.02679 20.4777 10.4732 20.8795 11.9598 20.8795C16.9018 20.8795 21 16.8616 21 11.9598C21 9.54911 19.9554 7.33929 18.2679 5.65179ZM11.9598 19.3527C10.6339 19.3527 9.34821 18.9911 8.18304 18.308L7.94196 18.1473L5.12946 18.9107L5.89286 16.1786L5.69196 15.8973C4.96875 14.692 4.56696 13.3259 4.56696 11.9196C4.56696 7.86161 7.90179 4.52679 12 4.52679C13.9688 4.52679 15.817 5.29018 17.2232 6.69643C18.6295 8.10268 19.4732 9.95089 19.4732 11.9598C19.4732 16.0179 16.058 19.3527 11.9598 19.3527ZM16.058 13.808C15.817 13.6875 14.7321 13.1652 14.5313 13.0848C14.3304 13.0045 14.1696 12.9643 14.0089 13.2054C13.8884 13.4063 13.4464 13.9286 13.3259 14.0893C13.1652 14.2098 13.0446 14.25 12.8438 14.1295C11.5179 13.4866 10.6741 12.9643 9.79018 11.4777C9.54911 11.0759 10.0313 11.1161 10.433 10.2723C10.5134 10.1116 10.4732 9.99107 10.433 9.87054C10.3929 9.75 9.91071 8.66518 9.75 8.22321C9.54911 7.78125 9.38839 7.82143 9.22768 7.82143C9.10714 7.82143 8.94643 7.82143 8.82589 7.82143C8.66518 7.82143 8.42411 7.86161 8.22321 8.10268C8.02232 8.34375 7.45982 8.86607 7.45982 9.95089C7.45982 11.0759 8.22321 12.1205 8.34375 12.2813C8.46429 12.4018 9.91071 14.6518 12.1607 15.6161C13.567 16.2589 14.1295 16.2991 14.8527 16.1786C15.2545 16.1384 16.1384 15.6563 16.3393 15.1339C16.5402 14.6116 16.5402 14.1696 16.4598 14.0893C16.4196 13.9688 16.2589 13.9286 16.058 13.808Z" fill="currentColor"/>
        </svg>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_instagram_link != blank -%}
    <li>
      <a
        class="social-icon {{ icons_color }}"
        target="_blank"
        aria-label="Instagram"
        href="{{ settings.social_instagram_link | default: '#' }}"
      >
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          aria-hidden="true"
          focusable="false"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M12.0201 7.35938C9.44866 7.35938 7.39955 9.44866 7.39955 11.9799C7.39955 14.5513 9.44866 16.6004 12.0201 16.6004C14.5513 16.6004 16.6406 14.5513 16.6406 11.9799C16.6406 9.44866 14.5513 7.35938 12.0201 7.35938ZM12.0201 14.9933C10.3728 14.9933 9.0067 13.6674 9.0067 11.9799C9.0067 10.3326 10.3326 9.0067 12.0201 9.0067C13.6674 9.0067 14.9933 10.3326 14.9933 11.9799C14.9933 13.6674 13.6674 14.9933 12.0201 14.9933ZM17.8862 7.19866C17.8862 7.80134 17.404 8.28348 16.8013 8.28348C16.1987 8.28348 15.7165 7.80134 15.7165 7.19866C15.7165 6.59598 16.1987 6.11384 16.8013 6.11384C17.404 6.11384 17.8862 6.59598 17.8862 7.19866ZM20.9397 8.28348C20.8594 6.83705 20.5379 5.55134 19.4933 4.5067C18.4487 3.46205 17.1629 3.14063 15.7165 3.06027C14.2299 2.97991 9.77009 2.97991 8.28348 3.06027C6.83705 3.14063 5.59152 3.46205 4.5067 4.5067C3.46205 5.55134 3.14063 6.83705 3.06027 8.28348C2.97991 9.77009 2.97991 14.2299 3.06027 15.7165C3.14063 17.1629 3.46205 18.4085 4.5067 19.4933C5.59152 20.5379 6.83705 20.8594 8.28348 20.9397C9.77009 21.0201 14.2299 21.0201 15.7165 20.9397C17.1629 20.8594 18.4487 20.5379 19.4933 19.4933C20.5379 18.4085 20.8594 17.1629 20.9397 15.7165C21.0201 14.2299 21.0201 9.77009 20.9397 8.28348ZM19.0112 17.2835C18.7299 18.0871 18.0871 18.6897 17.3237 19.0112C16.1183 19.4933 13.3058 19.3728 12.0201 19.3728C10.6942 19.3728 7.8817 19.4933 6.71652 19.0112C5.91295 18.6897 5.31027 18.0871 4.98884 17.2835C4.5067 16.1183 4.62723 13.3058 4.62723 11.9799C4.62723 10.6942 4.5067 7.8817 4.98884 6.67634C5.31027 5.91295 5.91295 5.31027 6.71652 4.98884C7.8817 4.5067 10.6942 4.62723 12.0201 4.62723C13.3058 4.62723 16.1183 4.5067 17.3237 4.98884C18.0871 5.27009 18.6897 5.91295 19.0112 6.67634C19.4933 7.8817 19.3728 10.6942 19.3728 11.9799C19.3728 13.3058 19.4933 16.1183 19.0112 17.2835Z" fill="currentColor"/>
        </svg>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_tiktok_link != blank -%}
    <li>
      <a
        class="social-icon {{ icons_color }}"
        target="_blank"
        aria-label="Tiktok"
        href="{{ settings.social_tiktok_link | default: '#' }}"
      >
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          aria-hidden="true"
          focusable="false"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M20.475 10.1914C18.7197 10.2304 17.0814 9.6843 15.6771 8.67013V15.6523C15.6771 20.5281 10.3722 23.5706 6.15953 21.1522C1.94682 18.6948 1.94682 12.6098 6.15953 10.1524C7.36874 9.45026 8.81198 9.17721 10.2162 9.37225V12.8828C8.07086 12.1807 6.00351 14.092 6.47159 16.2764C6.97867 18.4608 9.63112 19.3189 11.3084 17.7977C11.8935 17.2516 12.2446 16.4714 12.2446 15.6523V2H15.6771C15.6771 2.31205 15.6771 2.5851 15.7552 2.89715C15.9892 4.18437 16.7303 5.31556 17.8615 6.01768C18.6026 6.52477 19.5388 6.79781 20.475 6.79781V10.1914Z" fill="currentColor"/>
        </svg>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_facebook_link != blank -%}
    <li>
      <a
        class="social-icon {{ icons_color }}"
        target="_blank"
        aria-label="Facebook"
        href="{{ settings.social_facebook_link | default: '#' }}"
      >
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          aria-hidden="true"
          focusable="false"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M16.5195 13.625L17.0117 10.3906H13.8828V8.28125C13.8828 7.36719 14.3047 6.52344 15.7109 6.52344H17.1523V3.74609C17.1523 3.74609 15.8516 3.5 14.6211 3.5C12.0547 3.5 10.3672 5.08203 10.3672 7.89453V10.3906H7.48438V13.625H10.3672V21.5H13.8828V13.625H16.5195Z" fill="currentColor"/>
        </svg>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_pinterest_link != blank -%}
    <li>
      <a
        class="social-icon {{ icons_color }}"
        target="_blank"
        aria-label="Pinterest"
        href="{{ settings.social_pinterest_link | default: '#' }}"
      >
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          aria-hidden="true"
          focusable="false"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M12.3541 3.33594C8.641 3.33594 5 5.7873 5 9.78879C5 12.3123 6.40593 13.7542 7.27112 13.7542C7.63161 13.7542 7.84791 12.7809 7.84791 12.4925C7.84791 12.1681 6.98272 11.4471 6.98272 10.0411C6.98272 7.15718 9.18174 5.10236 12.0296 5.10236C14.5171 5.10236 16.3195 6.50829 16.3195 9.0678C16.3195 10.9784 15.5625 14.5473 13.0751 14.5473C12.1738 14.5473 11.3808 13.8984 11.3808 12.9972C11.3808 11.6273 12.3541 10.2935 12.3541 8.88756C12.3541 6.50829 8.96544 6.94089 8.96544 9.82484C8.96544 10.4377 9.03754 11.0866 9.32594 11.6634C8.82125 13.7903 7.81186 16.9987 7.81186 19.1977C7.81186 19.8826 7.88396 20.5315 7.95606 21.2165C8.06421 21.3607 8.02816 21.3607 8.2084 21.2886C10.0109 18.8012 9.97483 18.2965 10.7679 15.052C11.2366 15.8812 12.3541 16.3498 13.2914 16.3498C17.1126 16.3498 18.843 12.6007 18.843 9.24805C18.843 5.67915 15.7427 3.33594 12.3541 3.33594Z" fill="currentColor"/>
        </svg>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_twitter_link != blank -%}
    <li>
      <a
        class="social-icon {{ icons_color }}"
        target="_blank"
        aria-label="Twitter"
        href="{{ settings.social_twitter_link | default: '#' }}"
      >
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          aria-hidden="true"
          focusable="false"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M19.6964 7.97108C19.6964 8.16386 19.6964 8.31807 19.6964 8.51084C19.6964 13.8699 15.6482 20 8.20723 20C5.89398 20 3.77349 19.3446 2 18.188C2.30843 18.2265 2.61687 18.2651 2.96386 18.2651C4.85301 18.2651 6.58795 17.6096 7.9759 16.5301C6.20241 16.4916 4.6988 15.3349 4.19759 13.7157C4.46747 13.7542 4.6988 13.7928 4.96867 13.7928C5.31566 13.7928 5.7012 13.7157 6.00964 13.6386C4.15904 13.253 2.77108 11.6337 2.77108 9.66747V9.62892C3.31084 9.93735 3.96627 10.0916 4.62169 10.1301C3.50361 9.39759 2.80964 8.16386 2.80964 6.7759C2.80964 6.00482 3.00241 5.31084 3.3494 4.73253C5.35422 7.16145 8.36145 8.78072 11.7157 8.97349C11.6386 8.66506 11.6 8.35663 11.6 8.04819C11.6 5.81205 13.412 4 15.6482 4C16.8048 4 17.8458 4.46265 18.6169 5.27229C19.5036 5.07952 20.3904 4.73253 21.1614 4.26988C20.853 5.23373 20.2361 6.00482 19.388 6.50602C20.1976 6.42892 21.0072 6.19759 21.7012 5.88916C21.1614 6.6988 20.4675 7.39277 19.6964 7.97108Z" fill="currentColor"/>
        </svg>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_youtube_link != blank -%}
    <li>
      <a
        class="social-icon {{ icons_color }}"
        target="_blank"
        aria-label="Youtube"
        href="{{ settings.social_youtube_link | default: '#' }}"
      >
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          aria-hidden="true"
          focusable="false"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M21.5612 7.23035C21.3419 6.35283 20.6472 5.65814 19.8062 5.43876C18.234 5 12.0183 5 12.0183 5C12.0183 5 5.766 5 4.19378 5.43876C3.35283 5.65814 2.65814 6.35283 2.43876 7.23035C2 8.766 2 12.0567 2 12.0567C2 12.0567 2 15.3108 2.43876 16.883C2.65814 17.7605 3.35283 18.4186 4.19378 18.638C5.766 19.0402 12.0183 19.0402 12.0183 19.0402C12.0183 19.0402 18.234 19.0402 19.8062 18.638C20.6472 18.4186 21.3419 17.7605 21.5612 16.883C22 15.3108 22 12.0567 22 12.0567C22 12.0567 22 8.766 21.5612 7.23035ZM9.97075 15.0183V9.09506L15.1627 12.0567L9.97075 15.0183Z" fill="currentColor"/>
        </svg>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_linkedin_link != blank -%}
    <li>
      <a
        class="social-icon {{ icons_color }}"
        target="_blank"
        aria-label="Linkedin"
        href="{{ settings.social_linkedin_link | default: '#' }}"
      >
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          aria-hidden="true"
          focusable="false"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M19.5279 3C20.2406 3 20.8695 3.60268 20.8695 4.32589V19.7143C20.8695 20.4375 20.2406 21 19.5279 21H3.3866C2.67387 21 2.08691 20.4375 2.08691 19.7143V4.32589C2.08691 3.60268 2.67387 3 3.3866 3H19.5279ZM7.74685 18.4286V9.87054H4.97977V18.4286H7.74685ZM6.36331 8.66518C7.24375 8.66518 7.95648 7.98214 7.95648 7.13839C7.95648 6.29464 7.24375 5.57143 6.36331 5.57143C5.44095 5.57143 4.72822 6.29464 4.72822 7.13839C4.72822 7.98214 5.44095 8.66518 6.36331 8.66518ZM18.1863 18.4286V13.7277C18.1863 11.4375 17.6413 9.62946 14.8323 9.62946C13.4906 9.62946 12.5683 10.3527 12.191 11.0357H12.149V9.87054H9.50772V18.4286H12.2748V14.2098C12.2748 13.0848 12.4844 12 13.9518 12C15.3773 12 15.3773 13.2857 15.3773 14.25V18.4286H18.1863Z" fill="currentColor"/>
        </svg>
      </a>
    </li>
  {%- endif -%}
</ul>
