<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="generator" content="luca">

    <link rel="canonical" href="{{ canonical_url }}">

    {% liquid
      if settings.store_favicon != blank
        assign favicon = settings.store_favicon | image_url: width: 32
      else
        assign favicon = 'favicon.png' | asset_url
      endif
    %}
    <link
      fetchpriority="low"
      rel="icon"
      href="{{ favicon }}"
      sizes="32x32"
    >

    {% render 'application' %}

    <title>{{ page_title }}</title>

    <meta name="description" content="{{ page_description | default: shop.name | escape }}">

    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
      window.addEventListener('load', () => document.documentElement.classList.add('ready'));
    </script>

    <!-- shopify/apps -->
    {{ content_for_header }}

    <!-- luca/scripts -->
    {% render 'scripts' %}

    <!-- luca/assets -->
    {% render 'luca' %}

    <!-- luca/custom -->
    <link rel="stylesheet" href="{{ 'custom.css' | asset_url }}">
  </head>
  <body id="page-type-store-password">
    {% render 'header-simple' %}

    {% render 'notification' %}

    <main class="content-for-layout focus-none" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>

    {% render 'footer-simple' %}
  </body>
</html>
