<div class="mx-auto flex w-full flex-col items-center space-y-8 px-4 py-16 md:w-1/2">
  {% capture icon_svg_path %}
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
    >
      <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z" />
    </svg>
  {% endcapture %}
  {% render 'avatar', size: 'large', icon: icon_svg_path %}
  <div class="text-center">
    <h1 class="title font-serif text-h3 font-bold md:text-h2">{{ 'sections.main_password.open_soon' | t }}</h1>
    <p class="description mt-2 text-body-base">{{ 'sections.main_password.launch_reminder' | t }}</p>
  </div>
  {% form 'customer', novalidate: 'novalidate', class: 'w-full flex flex-col gap-4' %}
    <input type="hidden" name="contact[tags]" value="newsletter,pre-sale">
    {% if form.errors %}
      {% capture errors %}
        <ul role="list">
          {% for field in form.errors %}
            <li>
              {% if field == 'form' %}
                {{ form.errors.messages[field] }}
              {% else %}
                <a class="link" aria-label="{{ 'common.aria_label.error' | t }}" href="#{{ field }}">
                  {{ form.errors.translated_fields[field] | capitalize }}
                  {{ form.errors.messages[field] }}
                </a>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% endcapture %}

      {% liquid
        assign error_title = 'sections.main_password.attention' | t
        assign success_title = 'sections.main_password.launch_list' | t
        assign success_description = 'sections.main_password.registred_email' | t
      %}
      {% render 'alert', type: 'error', title: error_title, description: errors %}
    {% endif %}
    {% if form.posted_successfully? %}
      {% render 'alert', type: 'success', title: success_title, description: success_description %}
    {% endif %}

    <label class="text" for="email">{{ 'sections.main_password.email' | t }}</label>
    <input
      id="email"
      name="contact[email]"
      type="email"
      autocomplete="email"
      autocorrect="off"
      autocapitalize="off"
      {% if form.email %}
        value="{{ form.email }}"
      {% endif %}
      placeholder="{{ 'common.placeholder.email' | t }}"
      class="input"
      {% if form.errors contains 'email' %}
        aria-invalid="true"
      {% endif %}
    >

    <button type="submit" class="button button-primary">{{ 'sections.main_password.join_list' | t }}</button>
  {% endform %}
</div>

{% schema %}
{
  "tag": "section",
  "name": "t:sections.main_password.name",
  "class": "password"
}
{% endschema %}
