<div class="mx-auto flex w-full flex-col items-center px-4 py-8 md:max-w-[50rem] md:py-16">
  <h2 class="title max-w-2xl font-serif font-bold text-black text-h4 md:text-h3">
    Esqueceu a senha?
  </h2>
 {%- form 'reset_customer_password', class: 'w-full flex flex-col gap-4' -%}
    {%- if form.errors -%}
      <h2 class="form__message" tabindex="-1" autofocus>
        <svg aria-hidden="true" focusable="false">
          <use href="#icon-error" />
        </svg>
        
      </h2>
      <ul>
        {%- for field in form.errors -%}
          <li>
            {%- if field == 'form' -%}
              {{ form.errors.messages[field] }}
            {%- else -%}
              <a href="#{{ field }}">
                {{ form.errors.translated_fields[field] | capitalize }}
                {{ form.errors.messages[field] }}
              </a>
            {%- endif -%}
          </li>
        {%- endfor -%}
      </ul>
    {%- endif -%}

    <div class="field">
      <input
        class="input"
        type="password"
        name="customer[password]"
        id="password"
        autocomplete="new-password"
        {% if form.errors contains 'password' %}
          aria-invalid="true"
          aria-describedby="password-error"
        {% endif %}
        placeholder="Senha"
      >
      <label for="password">
        Senha
      </label>
      {%- if form.errors contains 'password' -%}
        <small id="password-error" class="form__message">
          <svg aria-hidden="true" focusable="false">
            <use href="#icon-error" />
          </svg>
          {{ form.errors.translated_fields.password | capitalize }}
          {{ form.errors.messages.password }}
        </small>
      {%- endif -%}
    </div>

    <div class="field">
      <input
        class="input"
        type="password"
        name="customer[password_confirmation]"
        id="password_confirmation"
        autocomplete="new-password"
        {% if form.errors contains 'password_confirmation' %}
          aria-invalid="true"
          aria-describedby="password_confirmation-error"
        {% endif %}
        placeholder="Confirmar Senha"
      >
      <label for="password_confirmation">
        Confirmar Senha
      </label>
      {%- if form.errors contains 'password_confirmation' -%}
        <small id="password_confirmation-error" class="form__message">
          <svg aria-hidden="true" focusable="false">
            <use href="#icon-error" />
          </svg>
          {{ form.errors.translated_fields.password_confirmation | capitalize }}
          {{ form.errors.messages.password_confirmation }}
        </small>
      {%- endif -%}
    </div>

    <button class="button button-accent mx-auto h-14 w-full"> 
      Redefinir Senha
    </button>
  {%- endform -%}
</div>
<style>
.field {
  display: flex;
  flex-direction: column-reverse;
}

form.w-full.flex.flex-col.gap-4 {
  margin-top: 1rem;
}

label {
  font-weight: 600;
  margin-bottom: .5rem;
}
</style>
{% schema %}
{
  "tag": "section",
  "name": "t:sections.main_reset_password.name",
  "class": "reset-password"
}
{% endschema %}
