{% liquid
  assign loading = 'eager'
  assign fetchpriority = 'auto'
  if section.index == 1
    assign fetchpriority = 'high'
  elsif section.index > 2
    assign loading = 'lazy'
  endif
%}
<div class="wrapper section relative {{ section.settings.background_color }}">
  <div
    x-data="
      {
        loading: false,
        loadingPage: false,
        gift: false,
        splide: null,
        variant: '{{ product.selected_or_first_available_variant.id }}',
        quantity: 1,
        currentVariant: {{ product.selected_or_first_available_variant | json | escape }},
        selectedOptions: {{ product.selected_or_first_available_variant.options | json | escape }},
        productVariants: {{ product.variants | json | escape }},
        async updateProduct(productUrl, variantId){
          this.loadingPage = true
          if ('URLSearchParams' in window) {
            const searchParams = new URLSearchParams(window.location.search)
            searchParams.set('variant', `${variantId}`)
            window.location.href = `${productUrl}` + '?' + searchParams.toString()
          }
        },
        async updateVariant() {
          this.loadingPage = true

          $data.currentVariant = $data.productVariants.find((variant) => {
            return !variant.options.map((option, index) => {
              return $data.selectedOptions[index] === option
            }).includes(false)
          })

          if ('URLSearchParams' in window) {
            const searchParams = new URLSearchParams(window.location.search)
            searchParams.set('variant', `${$data.currentVariant.id}`)
            const newRelativePathQuery = `{{ product.url }}` + '?' + searchParams.toString()
            history.replaceState({}, '', newRelativePathQuery)
          }

          await fetch(`{{ product.url }}?variant=${$data.currentVariant.id}&section_id={{ section.id }}`)
            .then((response) => response.text())
            .then((responseText) => {
              const oldHtmlElement = document.getElementById('product-info')
              const newHtmlString = new DOMParser().parseFromString(responseText, 'text/html').getElementById('product-info').outerHTML

              Alpine.morph(oldHtmlElement, newHtmlString)

              this.loadingPage = false
            })

          this.renderSplide()
        },
        addProductToCart(id) {
          this.loading = true

          const items = [{ id: id, quantity: 1 }]

          $store.cart.addItems(items, { showCart: true })
          .then(response => {
            this.loading = false

            $dispatch('cart-change')

            $store.cart.fetchItems()

            Log('Add to Cart:', response)
          })
        },
        rmvProductToCart(id) {
          this.loading = true

          const items = { id: id, quantity: 0 }

          $store.cart.updateItem(items, { showCart: true })
          .then(response => {
            this.loading = false

            $dispatch('cart-change')

            $store.cart.fetchItems()

            $dispatch('show-cart')

            Log('Add to Cart:', response)
          })
        },
        handleAdd(type = 'add') {
          this.loading = true

          const items = [{ id: this.currentVariant.id, quantity: this.quantity, properties: {} }]

          if (this.gift) {
            items[0].properties['Obs'] = '{{ 'common.sending_as_a_gift_obs' | t }}'
          }

          $store.cart.addItems(items, { showCart: (type == 'add' ? true : false) })
          .then(response => {
            this.loading = false

            {% if settings.cart_type != 'side' %}
              $dispatch('show-notification', { type: 'success', title: '{{ 'common.notification.cart' | t }}', description: '{{ 'common.notification.add_success' | t }}' })
            {% endif %}

            $dispatch('cart-change')

            $store.cart.fetchItems()

            if (type == 'buy') {
              window.location.href = '/checkout'
            }

            Log('Add to Cart:', response)
          })
        },
        renderSplide() {
          const productImage = document.getElementById('product-info').querySelector('.product-image')
          const splide = new Splide(productImage, {
            gap: 0,
            perPage: 1,
            type: 'loop',
            pagination: false,
            lazyLoad: 'nearby',
            {% if product.media.size <= 1 %}
              destroy: true,
              arrows: false,
            {% endif %}
            video: {
              loop: true,
              mute: true,
              autoplay: true,
              hideControls: true
            }
          })

          function initPagination(pagination, index) {
            pagination.addEventListener('click', () =>  splide.go(index))
          }

          const paginations = document.getElementsByClassName('pagination-item-{{ section.id }}')
          let current
          for (let i = 0; i < paginations.length; i++) initPagination(paginations[i], i)
          splide.on('mounted move', () => {
            const pagination = paginations[splide.index]
            if (pagination) {
              if (current) current.classList.remove('active')
              pagination.classList.add('active')
              current = pagination
            }
          })

          splide.mount({ Video: window.SplideVideo })
          this.splide = splide
        }
      }
    "
    x-init="updateVariant; window.location.search.includes('addToCart') && handleAdd()"
  >
    {% render 'breadcrumbs' %}
    <div
      id="product-info"
      class="grid grid-cols-12 gap-4"
    >
      <div
        x-show="loadingPage"
        class="fixed inset-0 z-50 flex items-center justify-center bg-black/40 pt-0 text-white"
      >
        {% render 'loading-spinner', show_condition: 'loadingPage' %}
      </div>
      <div class="col-span-full flex flex-col gap-4 md:col-span-6">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'gallery' %}
              <div
                class="gallery splide product-image relative w-full"
                aria-label="{{ 'common.aria_label.product_slide' | t }}"
              >
                {% assign variant_image_src = product.selected_or_first_available_variant.featured_image %}
                <div class="splide__arrows hidden md:block">
                  <div class="absolute -left-2 flex h-full items-center md:-left-6">
                    <button
                      class="splide__arrow splide__arrow--prev z-10 disabled:hidden {{ block.settings.navigation_size }} {{ block.settings.navigation_color }} {{ block.settings.navigation_style }}"
                      type="button"
                    >
                      {% render 'chevron-icon', side: 'left' %}
                    </button>
                  </div>
                  <div class="absolute -right-2 flex h-full items-center md:-right-6">
                    <button
                      class="splide__arrow splide__arrow--next z-10 disabled:hidden {{ block.settings.navigation_size }} {{ block.settings.navigation_color }} {{ block.settings.navigation_style }}"
                      type="button"
                    >
                      {% render 'chevron-icon', side: 'right' %}
                    </button>
                  </div>
                </div>
                <div class="splide__track">
                  <ul class="splide__list">
                    {% if variant_image_src %}
                      <li class="splide__slide h-[380px] lg:h-[800px]">
                        {{
                          variant_image_src
                          | image_url: width: 960
                          | image_tag:
                            class: 'w-full gallery-image image bg-white h-[380px] lg:h-[800px] object-contain lg:object-cover'
                        }}
                      </li>
                    {% elsif product.media.size == 0 %}
                      <li class="splide__slide h-[380px] lg:h-[800px]">
                        {% render 'product-placeholder',
                          image_class: 'aspect-[3/4] gallery-image h-full image w-full object-cover object-center'
                        %}
                      </li>
                    {% endif %}
                    {% for media in product.media %}
                      {% if media.media_type != 'image' or media.src != variant_image_src %}
                        <li class="splide__slide h-[380px] lg:h-[800px]">
                          {% case media.media_type %}
                            {% when 'external_video' %}
                              {{ media | external_video_tag: class: 'w-full gallery-video video h-full' }}
                            {% when 'video' %}
                              {{
                                media
                                | video_tag:
                                  autoplay: true,
                                  muted: true,
                                  loop: true,
                                  controls: false,
                                  class: 'w-full gallery-video video h-full'
                              }}
                            {% when 'model' %}
                              {{ media | model_viewer_tag: class: 'w-full gallery-3d 3d h-full' }}
                            {% when 'image' %}
                              {{
                                media
                                | image_url: width: 960
                                | image_tag:
                                  class: 'w-full gallery-image bg-white h-[380px] image lg:h-[800px] object-contain lg:object-cover'
                              }}
                          {% endcase %}
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                  {% if product.media.size > 1 %}
                    <nav class="pagination pagination-dots {{ block.settings.navigation_color | replace: 'button-icon', 'pagination' }} absolute inset-x-0 bottom-10 flex justify-center">
                      {% assign count = product.media.size %}
                      {% for block in (1..count) %}
                        <button class="pagination-item-{{ section.id }}">
                          <span class="sr-only">
                            {{- 'common.sr_only.go_to_slider' | t }}
                            {{ forloop.index -}}
                          </span>
                        </button>
                      {% endfor %}
                    </nav>
                  {% endif %}
                </div>
              </div>
          {% endcase %}
        {% endfor %}
        <div class="flex items-center justify-center gap-12 pt-4">
          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'stamp' %}
                {% assign image_class = 'stamp-image object-fit image ' | append: section.settings.stamp_size %}
                <div class="stamp flex flex-col items-center justify-center gap-4">
                  {% if block.settings.image == blank %}
                    {% render 'image-placeholder', image_class: image_class %}
                  {% else %}
                    {{
                      block.settings.image
                      | image_url: width: 400
                      | image_tag: loading: loading, fetchpriority: fetchpriority, class: image_class
                    }}
                  {% endif %}
                  <span class="stamp-text {{ section.settings.stamp_title_color }} {{ section.settings.stamp_title_size }}">
                    {{- block.settings.text -}}
                  </span>
                </div>
            {% endcase %}
          {% endfor %}
        </div>
        <div class="space-y-6 pt-4">
          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'text' %}
                <div class="hidden flex-col gap-4 md:flex">
                  {% assign title_tag = section.settings.title_tag %}
                  <{{ title_tag }} class="title {{ section.settings.title_color }} {{ section.settings.title_size }} font-serif font-bold">
                    {{ block.settings.title }}
                  </{{ title_tag }}>
                  <span class="description {{ section.settings.description_color }} {{ section.settings.description_size }}">
                    {{- block.settings.content -}}
                  </span>
                </div>
            {% endcase %}
          {% endfor %}
        </div>
      </div>
      <div
        class="col-span-full w-full space-y-6 md:col-start-8 md:col-end-12"
      >
        {% for block in section.blocks %}
          {% case block.type %}
            {% when '@app' %}
              {% render block %}
            {% when 'product_name' %}
              {% assign title_tag = block.settings.title_tag %}
              <{{ title_tag }} class="product-title font-serif font-bold {{ block.settings.title_size }} {{ block.settings.title_color }}">
                {{ product.title }}
              </{{ title_tag }}>
            {% when 'product_description' %}
              <div class="product-description {{ block.settings.description_size }} {{ block.settings.description_color }}">
                {{ product.description }}
              </div>
            {% when 'price' %}
              {% assign installments = settings.installments_number %}
              {% assign product_variant = product.selected_or_first_available_variant %}
              <div class="space-y-1">
                {% if block.settings.show_discount == 'true'
                  and product_variant.compare_at_price > product_variant.price
                %}
                  <span class="compare-at-price text-gray-400 line-through">
                    {{ product_variant.compare_at_price | money }}
                  </span>
                {% endif %}
                <div class="flex items-center gap-4">
                  {% assign title_tag = block.settings.title_tag %}
                  <{{ title_tag }} class="price font-serif font-bold {{ block.settings.price_size }} {{ block.settings.price_color }}">
                    {{ product_variant.price | money }}
                  </{{ title_tag }}>
                  {% if block.settings.show_discount == 'true'
                    and product_variant.compare_at_price > product_variant.price
                  %}
                    <span class="tag border-current p-2 {{ block.settings.discount_size }} {{ block.settings.discount_text_color }} {{ block.settings.discount_color }}">
                      {{
                        product_variant.compare_at_price
                        | minus: product_variant.price
                        | times: 100
                        | divided_by: product_variant.compare_at_price
                        | round
                      }}
                      {{ 'sections.main_product.off' | t -}}
                    </span>
                  {% endif %}
                </div>
                {% if block.settings.show_installment == 'true' and installments > 1 %}
                  {% liquid
                    assign price = product.selected_or_first_available_variant.price | default: 0

                    assign installments_max = price | divided_by: settings.installments_min_price | divided_by: 100 | round: 2 | at_most: settings.installments_number
                    assign installment_fees = price | times: settings.installments_percentage_fees | divided_by: 100
                    assign installment_price = price | plus: installment_fees | divided_by: installments_max
                  %}
                  {% assign value = installment_price | money %}
                  <p class="installment">
                    {{ 'sections.main_product.installments_value' | t: installments: installments_max, value: value }}
                  </p>
                {% endif %}
              </div>
            {% when 'variant_selector' %}
              {% if settings.product_type == 'metaobject' and product.metafields.luca.product_group != blank %}
                <div class="flex flex-col gap-2">
                  {% assign meta = product.metafields.luca.product_group.value %}
                  <span class="text font-semibold {{ section.settings.selector_title_color }} {{ section.settings.selector_title_size }}">
                    {{ meta.name }}
                  </span>
                  <div class="variant-selector flex items-center gap-2">
                    {% for prod in meta.products.value %}
                      {% assign color = 'bg-colors-' | append: prod.metafields.luca.color.value.name | handle %}
                      <button
                        aria-label="{{ 'common.aria_label.product_image' | t }}"
                        @click="updateProduct('{{ prod.url }}', '{{ prod.selected_or_first_available_variant.id }}')"
                        class="selector h-10 w-10 cursor-pointer overflow-hidden {{ color }} border {% if prod.url == product.url %}{{ section.settings.variant_color | replace: 'button', 'border' }} border-2{% endif %}"
                      >
                        {% if prod.metafields.luca.color.value == blank %}
                          {{-
                            prod.featured_image
                            | image_url: width: 100
                            | image_tag:
                              loading: loading,
                              fetchpriority: fetchpriority,
                              class: 'selector-image image h-10 w-10 object-cover'
                          -}}
                        {% endif %}
                      </button>
                    {% endfor %}
                  </div>
                </div>
              {% endif %}
              {%- unless product.has_only_default_variant -%}
                {%- for option in product.options_with_values -%}
                  {% assign index = forloop.index0 %}
                  <fieldset
                    class="variant-selector flex flex-col gap-2"
                    id="ProductSelect-option-{{ forloop.index0 }}"
                    name="{{ option.name | handleize }}"
                    x-init="$watch('selectedOptions', () => updateVariant())"
                  >
                    <span class="text {{ section.settings.variant_title_size }} {{ section.settings.variant_title_color }} font-bold">
                      {{ option.name | escape }}
                    </span>
                    <div class="flex flex-wrap gap-2">
                      {%- for value in option.values -%}
                        {% liquid
                          assign option_variants = product.variants
                          for option_index in (1..index)
                            assign option_index0 = option_index | minus: 1
                            assign option_where = 'option' | append: option_index
                            assign option_variants = option_variants | where: option_where, product.selected_variant.options[option_index0]
                          endfor
                          assign index1 = index | plus: 1
                          assign option_where = 'option' | append: index1
                          assign available_option_variants_size = option_variants | where: option_where, value | where: 'available' | size
                        %}
                        <input
                          type="radio"
                          {% if option.selected_value == value %}
                            checked="checked"
                          {% endif %}
                          {% if available_option_variants_size <= 0 %}
                            disabled="disabled"
                          {% endif %}
                          value="{{ value | escape }}"
                          data-index="option{{ forloop.index }}"
                          name="{{ option.name | handleize }}"
                          id="ProductSelect-option-{{ option.name | handleize }}-{{ value | escape }}"
                          class="hidden"
                          x-model="selectedOptions[{{ index }}]"
                        >
                        <label
                          class="selector button {{ section.settings.variant_width }} {% if available_option_variants_size <= 0 %}cursor-default border-neutral-400 bg-neutral-100 text-neutral-400{% elsif option.selected_value == value %}{{ section.settings.variant_color }} text-white{% else %}button-outline cursor-pointer border-black text-black{% endif %}"
                          for="ProductSelect-option-{{ option.name | handleize }}-{{ value | escape }}"
                        >
                          {{ value | escape }}
                        </label>
                      {%- endfor -%}
                    </div>
                  </fieldset>
                {%- endfor -%}
              {%- endunless -%}
            {% when 'quantity_selector' %}
              {% if section.settings.quantity_position == 'default' %}
                <div class="quantity-selector flex flex-col gap-2">
                  <label
                    for="quantity"
                    class="text {{ section.settings.text_size }} {{ section.settings.text_color }} font-bold"
                  >
                    {{ block.settings.title }}
                  </label>
                  <div
                    class="input inline-flex w-fit items-center justify-between border-black {{ section.settings.button_color | replace: 'button', 'text' }}"
                    role="group"
                  >
                    <button
                      aria-label="{{ 'common.aria_label.decrease_quantity' | t }}"
                      type="button"
                      @click="--quantity"
                      x-bind:disabled="quantity <= 1"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="icon h-6 w-6"
                      >
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15" />
                      </svg>
                    </button>
                    <input
                      id="quantity"
                      type="number"
                      min="0"
                      max="9999"
                      size="4"
                      name="quantity"
                      x-model="quantity"
                      :disabled="loading"
                      placeholder="{{ 'common.placeholder.quantity' }}"
                      @change="
                        if (quantity > parseInt($el.max)) quantity=$el.max
                        if (quantity < parseInt($el.min)) quantity=$el.min
                      "
                      class="w-full border-none p-0 text-center text-body-base text-black [appearance:textfield] [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:appearance-none"
                    >
                    <button
                      aria-label="{{ 'common.aria_label.increase_quantity' | t }}"
                      type="button"
                      @click="++quantity"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="icon h-6 w-6"
                      >
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                      </svg>
                    </button>
                  </div>
                </div>
              {% endif %}
            {% when 'buy_button' %}
              <div
                class="flex flex-row gap-4"
              >
                {% if section.settings.quantity_position == 'with_button' %}
                  <div class="quantity-selector flex w-64 flex-col gap-2">
                    <div
                      class="input inline-flex h-full w-full items-center justify-between border-black {{ block.settings.button_color | replace: 'button', 'text' }}"
                      role="group"
                    >
                      <button
                        aria-label="{{ 'common.aria_label.decrease_quantity' | t }}"
                        type="button"
                        @click="--quantity"
                        x-bind:disabled="quantity <= 1"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          class="icon h-6 w-6"
                        >
                          <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15" />
                        </svg>
                      </button>
                      <input
                        id="quantity"
                        type="number"
                        min="0"
                        max="9999"
                        size="4"
                        name="quantity"
                        x-model="quantity"
                        :disabled="loading"
                        placeholder="{{ 'common.placeholder.quantity' }}"
                        @change="
                          if (quantity > parseInt($el.max)) quantity=$el.max
                          if (quantity < parseInt($el.min)) quantity=$el.min
                        "
                        class="w-full border-none p-0 text-center text-body-base text-black [appearance:textfield] [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:appearance-none"
                      >
                      <button
                        aria-label="{{ 'common.aria_label.increase_quantity' | t }}"
                        type="button"
                        @click="++quantity"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          class="icon h-6 w-6"
                        >
                          <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                        </svg>
                      </button>
                    </div>
                  </div>
                {% endif %}
                {% if block.settings.button_function == 'add_to_cart' %}
                  <button
                    @click="handleAdd()"
                    {% if product.selected_or_first_available_variant.available == false %}
                      disabled
                    {% else %}
                      :disabled="loading"
                    {% endif %}
                    :class="{ 'disabled:border-gray-400 disabled:bg-gray-300 disabled:text-gray-400': !loading }"
                    class="{{ block.settings.button_style }} {{ block.settings.button_width }} {{ block.settings.button_color }} w-full"
                  >
                    {% render 'loading-spinner', show_condition: 'loading' %}
                    <div x-show="!loading">
                      {{ block.settings.button_text }}
                      <span class="sr-only">{{ product.title }}</span>
                    </div>
                  </button>
                {% else %}
                  <button
                    @click="handleAdd('buy')"
                    {% if product.selected_or_first_available_variant.available == false %}
                      disabled
                    {% else %}
                      :disabled="loading"
                    {% endif %}
                    :class="{ 'disabled:border-gray-400 disabled:bg-gray-300 disabled:text-gray-400': !loading }"
                    class="{{ block.settings.button_style }} {{ block.settings.button_width }} {{ block.settings.button_color }} w-full"
                  >
                    {% render 'loading-spinner', show_condition: 'loading' %}
                    <div x-show="!loading">
                      {{ block.settings.button_text }}
                      <span class="sr-only">{{ product.title }}</span>
                    </div>
                  </button>
                {% endif %}
              </div>
            {% when 'product_suggestion' %}
              {%- form 'product', product, novalidate: 'novalidate' -%}
                <div class="product-suggestion flex flex-col gap-4">
                  <span class="text {{ section.settings.variant_title_size }} {{ section.settings.variant_title_color }} font-bold">
                    {{- block.settings.text -}}
                  </span>
                  {% for item in block.settings.products %}
                    {%- liquid
                      assign product_variant = ''
                      assign current_product = product.selected_or_first_available_variant
                      assign qnt = current_product.title | size | minus: 4
                      assign selected_variant = current_product.title | slice: 0, qnt

                      for variant in item.variants
                        if variant.title contains selected_variant
                          assign product_variant = variant
                          break
                        endif
                      endfor

                      if product_variant == blank
                        assign product_variant = item.selected_or_first_available_variant
                      endif

                      assign compare_at_price = product_variant.compare_at_price
                      assign price = product_variant.price | default: 1999

                      assign installments_max = price | divided_by: settings.installments_min_price | divided_by: 100 | round: 2 | at_most: settings.installments_number
                      assign installment_fees = price | times: settings.installments_percentage_fees | divided_by: 100
                      assign installment_price = price | plus: installment_fees | divided_by: installments_max
                    -%}
                    <div
                      x-data="{ showButtom: false }"
                      class="card flex w-full flex-row items-center justify-between gap-4 border-2 px-4 py-2"
                    >
                      <div class="flex flex-row items-center gap-4">
                        <div class="image overflow-hidden">
                          {% if product_variant.featured_media != blank %}
                            {{
                              product_variant.featured_media
                              | image_url: width: 400
                              | image_tag:
                                loading: loading,
                                fetchpriority: fetchpriority,
                                class: 'image w-20 aspect-square object-cover'
                            }}
                          {% elsif item.featured_media != blank %}
                            {{
                              item.featured_media
                              | image_url: width: 400
                              | image_tag:
                                loading: loading,
                                fetchpriority: fetchpriority,
                                class: 'image w-20 aspect-square object-cover'
                            }}
                          {% endif %}
                        </div>
                        <div class="flex flex-col">
                          {% if item.has_only_default_variant %}
                            <span class="item-title {{ section.settings.product_title_size }} {{ section.settings.product_title_color }} font-black">
                              {{- item.title -}}
                            </span>
                          {% else %}
                            <span class="item-title {{ section.settings.product_title_size }} {{ section.settings.product_title_color }} font-black">
                              {{- item.title -}}
                            </span>
                            <span class="variant-title {{ section.settings.product_title_size }} {{ section.settings.product_title_color }}">
                              {{- product_variant.title -}}
                            </span>
                          {% endif %}
                          <div class="flex flex-wrap items-end gap-1">
                            <span class="price {{ section.settings.price_size }} {{ section.settings.price_color }} font-black">
                              {{ price | money }}
                            </span>
                            {% assign value = installment_price | money %}
                            {% if installments_max > 0 %}
                              <p class="installment">
                                {{
                                  'sections.main_product.installments_value'
                                  | t: installments: installments_max, value: value
                                }}
                              </p>
                            {% endif %}
                            {% if compare_at_price > price %}
                              <s class="compare-at-price">
                                {{ compare_at_price | money }}
                              </s>
                            {% endif %}
                          </div>
                        </div>
                      </div>
                      <div class="!mt-0">
                        <a
                          aria-label="{{ 'common.add' | t }}"
                          @click="addProductToCart('{{ product_variant.id }}'); showButtom = true"
                          class="button cursor-pointer p-2 {{ section.settings.suggestion_button_color }} {{ section.settings.suggestion_button_width }} {{ section.settings.suggestion_button_style }}"
                          target="_blank"
                          x-show="!showButtom"
                        >
                          {{ 'common.add' | t }}
                        </a>
                        <a
                          aria-label="{{ 'common.remove' | t }}"
                          @click="rmvProductToCart('{{ product_variant.id }}'); showButtom = false"
                          class="button button-ghost cursor-pointer p-2 {{ section.settings.suggestion_button_color }} {{ section.settings.suggestion_button_width }}"
                          target="_blank"
                          x-show="showButtom"
                        >
                          {{ 'common.remove' | t }}
                        </a>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              {% endform %}

            {% when 'navigation_button' %}
              <a
                aria-label="{{- block.settings.text -}}"
                href="{{ block.settings.url | default: '#' }}"
                class="navigation-button button {{ block.settings.button_style }} {{ block.settings.button_width }} {{ block.settings.button_color }} flex items-center justify-center gap-4 text-center"
              >
                {% if block.settings.image != blank %}
                  {{
                    block.settings.image
                    | image_url: width: 100
                    | image_tag:
                      loading: loading,
                      fetchpriority: fetchpriority,
                      class: 'w-auto image h-6 object-contain'
                  }}
                {% endif %}
                <span>
                  {{- block.settings.text -}}
                </span>
              </a>
            {% when 'sending_as_a_gift' %}
              {% render 'sending-as-a-gift', block: block %}
          {% endcase %}
        {% endfor %}
        <div>
          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'accordion' %}
                <div class="flex flex-col">
                  <details class="accordion">
                    <summary class="accordion-action {{ section.settings.accordion_title_size }} {{ section.settings.accordion_title_color }}">
                      {{ block.settings.title }}
                      <svg
                        class="{{ section.settings.accordion_icon_color }}"
                        width="20"
                        height="20"
                        viewBox="0 0 20 20"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M5.23017 7.20938C5.52875 6.92228 6.00353 6.93159 6.29063 7.23017L10 11.1679L13.7094 7.23017C13.9965 6.93159 14.4713 6.92228 14.7698 7.20938C15.0684 7.49647 15.0777 7.97125 14.7906 8.26983L10.5406 12.7698C10.3992 12.9169 10.204 13 10 13C9.79599 13 9.60078 12.9169 9.45938 12.7698L5.20938 8.26983C4.92228 7.97125 4.93159 7.49647 5.23017 7.20938Z" fill="currentColor"/>
                      </svg>
                    </summary>
                    <div class="accordion-content prose {{ section.settings.accordion_text_size }} {{ section.settings.accordion_text_color }}">
                      {{ block.settings.content }}
                      {% if block.settings.image != blank %}
                        {{
                          block.settings.image
                          | image_url: width: 600
                          | image_tag:
                            loading: loading,
                            fetchpriority: fetchpriority,
                            class: 'w-full h-auto image object-cover'
                        }}
                      {% endif %}
                      {% if block.settings.video != blank %}
                        {{
                          block.settings.video
                          | video_tag:
                            autoplay: false,
                            loop: true,
                            muted: true,
                            controls: true,
                            playsinline: true,
                            image_size: '1000x',
                            class: 'w-full video h-auto'
                        }}
                      {%- endif -%}
                    </div>
                  </details>
                </div>
            {% endcase %}
          {% endfor %}
        </div>
        <div class="space-y-6 pt-4">
          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'text' %}
                <div class="flex flex-col gap-4 md:hidden">
                  {% assign title_tag = section.settings.title_tag %}
                  <{{ title_tag }} class="title {{ section.settings.title_color }} {{ section.settings.title_size }} font-serif font-bold">
                    {{ block.settings.title }}
                  </{{ title_tag }}>
                  <span class="description {{ section.settings.description_color }} {{ section.settings.description_size }}">
                    {{- block.settings.content -}}
                  </span>
                </div>
            {% endcase %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{%- liquid
  if product.selected_or_first_available_variant.featured_media
    assign seo_media = product.selected_or_first_available_variant.featured_media
  else
    assign seo_media = product.featured_media
  endif
-%}

<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": {{ product.title | json }},
    "url": {{ request.origin | append: product.url | json }},
    {% if seo_media -%}
      "image": [
        {{ seo_media | image_url: width: 1920 | prepend: "https:" | json }}
      ],
    {%- endif %}
    "description": {{ product.description | strip_html | json }},
    {% if product.selected_or_first_available_variant.sku != blank -%}
      "sku": {{ product.selected_or_first_available_variant.sku | json }},
    {%- endif %}
    "brand": {
      "@type": "Brand",
      "name": {{ product.vendor | json }}
    },
    "offers": [
      {%- for variant in product.variants -%}
        {
          "@type" : "Offer",
          {%- if variant.sku != blank -%}
            "sku": {{ variant.sku | json }},
          {%- endif -%}
          {%- if variant.barcode.size == 12 -%}
            "gtin12": {{ variant.barcode }},
          {%- endif -%}
          {%- if variant.barcode.size == 13 -%}
            "gtin13": {{ variant.barcode }},
          {%- endif -%}
          {%- if variant.barcode.size == 14 -%}
            "gtin14": {{ variant.barcode }},
          {%- endif -%}
          "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
          "price" : {{ variant.price | divided_by: 100.00 | json }},
          "priceCurrency" : {{ cart.currency.iso_code | json }},
          "url" : {{ request.origin | append: variant.url | json }}
        }{% unless forloop.last %},{% endunless %}
      {%- endfor -%}
    ]
  }
</script>

{% schema %}
{
  "tag": "section",
  "name": "t:sections.main_product_complete.name",
  "class": "main-product-complete",
  "presets": [
    {
      "name": "t:sections.main_product_complete.name",
      "blocks": [
        {
          "type": "product_name"
        },
        {
          "type": "product_description"
        },
        {
          "type": "gallery"
        },
        {
          "type": "variant_selector"
        },
        {
          "type": "price"
        },
        {
          "type": "quantity_selector"
        },
        {
          "type": "product_suggestion"
        },
        {
          "type": "buy_button"
        },
        {
          "type": "navigation_button"
        },
        {
          "type": "stamp"
        },
        {
          "type": "stamp"
        },
        {
          "type": "stamp"
        },
        {
          "type": "text"
        },
        {
          "type": "text"
        },
        {
          "type": "accordion"
        },
        {
          "type": "accordion"
        },
        {
          "type": "accordion"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "t:common.headers.variants"
    },
    {
      "type": "select",
      "id": "variant_title_color",
      "label": "t:common.labels.title.color",
      "options": [
        {
          "value": "text-black",
          "label": "t:common.colors.black"
        },
        {
          "value": "text-neutral-600",
          "label": "t:common.colors.neutral"
        },
        {
          "value": "text-white",
          "label": "t:common.colors.white"
        },
        {
          "value": "text-primary",
          "label": "t:common.colors.primary"
        },
        {
          "value": "text-accent",
          "label": "t:common.colors.accent"
        },
        {
          "value": "text-secondary",
          "label": "t:common.colors.secondary"
        },
        {
          "value": "text-tertiary",
          "label": "t:common.colors.tertiary"
        }
      ],
      "default": "text-black"
    },
    {
      "type": "select",
      "id": "variant_title_size",
      "label": "t:common.labels.title.size",
      "options": [
        {
          "value": "text-h3",
          "label": "t:common.sizes.extra_large"
        },
        {
          "value": "text-h5",
          "label": "t:common.sizes.large"
        },
        {
          "value": "text-body-lg",
          "label": "t:common.sizes.medium"
        },
        {
          "value": "text-body-base",
          "label": "t:common.sizes.small"
        },
        {
          "value": "text-body-sm",
          "label": "t:common.sizes.tiny"
        }
      ],
      "default": "text-body-base"
    },
    {
      "type": "select",
      "id": "variant_color",
      "label": "t:common.labels.tags.color",
      "options": [
        {
          "value": "button-primary",
          "label": "t:common.colors.primary"
        },
        {
          "value": "button-accent",
          "label": "t:common.colors.accent"
        },
        {
          "value": "button-secondary",
          "label": "t:common.colors.secondary"
        },
        {
          "value": "button-tertiary",
          "label": "t:common.colors.tertiary"
        },
        {
          "value": "button-black",
          "label": "t:common.colors.black"
        },
        {
          "value": "button-white",
          "label": "t:common.colors.white"
        },
        {
          "value": "button-neutral",
          "label": "t:common.colors.neutral"
        }
      ],
      "default": "button-primary"
    },
    {
      "type": "radio",
      "id": "variant_width",
      "label": "t:common.labels.tags.size",
      "options": [
        {
          "value": "py-3",
          "label": "t:common.sizes.large"
        },
        {
          "value": "py-2",
          "label": "t:common.sizes.medium"
        },
        {
          "value": "py-1",
          "label": "t:common.sizes.small"
        }
      ],
      "default": "py-3"
    },
    {
      "type": "header",
      "content": "t:common.headers.quantity"
    },
    {
      "type": "radio",
      "id": "quantity_position",
      "label": "t:sections.main_product_detail_classic.settings.select_quantity_position",
      "options": [
        {
          "value": "default",
          "label": "t:common.labels.default.label"
        },
        {
          "value": "with_button",
          "label": "t:common.labels.button.with_button"
        }
      ],
      "default": "default"
    },
    {
      "type": "header",
      "content": "t:common.headers.product_suggestion"
    },
    {
      "type": "select",
      "id": "product_title_color",
      "label": "t:common.labels.title.color",
      "options": [
        {
          "value": "text-black",
          "label": "t:common.colors.black"
        },
        {
          "value": "text-neutral-600",
          "label": "t:common.colors.neutral"
        },
        {
          "value": "text-white",
          "label": "t:common.colors.white"
        },
        {
          "value": "text-primary",
          "label": "t:common.colors.primary"
        },
        {
          "value": "text-accent",
          "label": "t:common.colors.accent"
        },
        {
          "value": "text-secondary",
          "label": "t:common.colors.accent"
        },
        {
          "value": "text-tertiary",
          "label": "t:common.colors.accent"
        }
      ],
      "default": "text-black"
    },
    {
      "type": "select",
      "id": "product_title_size",
      "label": "t:common.labels.title.size",
      "options": [
        {
          "value": "text-h3",
          "label": "t:common.sizes.extra_large"
        },
        {
          "value": "text-h5",
          "label": "t:common.sizes.large"
        },
        {
          "value": "text-body-lg",
          "label": "t:common.sizes.medium"
        },
        {
          "value": "text-body-base",
          "label": "t:common.sizes.small"
        },
        {
          "value": "text-body-sm",
          "label": "t:common.sizes.tiny"
        }
      ],
      "default": "text-body-sm"
    },
    {
      "type": "select",
      "id": "price_color",
      "label": "t:common.labels.price.color",
      "options": [
        {
          "value": "text-black",
          "label": "t:common.colors.black"
        },
        {
          "value": "text-neutral-600",
          "label": "t:common.colors.neutral"
        },
        {
          "value": "text-white",
          "label": "t:common.colors.white"
        },
        {
          "value": "text-primary",
          "label": "t:common.colors.primary"
        },
        {
          "value": "text-accent",
          "label": "t:common.colors.accent"
        },
        {
          "value": "text-secondary",
          "label": "t:common.colors.secondary"
        },
        {
          "value": "text-tertiary",
          "label": "t:common.colors.tertiary"
        }
      ],
      "default": "text-black"
    },
    {
      "type": "select",
      "id": "price_size",
      "label": "t:common.labels.price.size",
      "options": [
        {
          "value": "text-h3",
          "label": "t:common.sizes.extra_large"
        },
        {
          "value": "text-h5",
          "label": "t:common.sizes.large"
        },
        {
          "value": "text-body-lg",
          "label": "t:common.sizes.medium"
        },
        {
          "value": "text-body-base",
          "label": "t:common.sizes.small"
        },
        {
          "value": "text-body-sm",
          "label": "t:common.sizes.tiny"
        }
      ],
      "default": "text-body-sm"
    },
    {
      "type": "select",
      "id": "suggestion_button_color",
      "label": "t:common.labels.button.color",
      "options": [
        {
          "value": "button-primary",
          "label": "t:common.colors.primary"
        },
        {
          "value": "button-accent",
          "label": "t:common.colors.accent"
        },
        {
          "value": "button-secondary",
          "label": "t:common.colors.secondary"
        },
        {
          "value": "button-tertiary",
          "label": "t:common.colors.tertiary"
        },
        {
          "value": "button-black",
          "label": "t:common.colors.black"
        },
        {
          "value": "button-white",
          "label": "t:common.colors.white"
        }
      ],
      "default": "button-primary"
    },
    {
      "type": "radio",
      "id": "suggestion_button_width",
      "label": "t:common.labels.button.size",
      "options": [
        {
          "value": "py-3",
          "label": "t:common.sizes.large"
        },
        {
          "value": "py-2",
          "label": "t:common.sizes.medium"
        },
        {
          "value": "py-1",
          "label": "t:common.sizes.small"
        }
      ],
      "default": "py-1"
    },
    {
      "type": "select",
      "id": "suggestion_button_style",
      "label": "t:common.labels.button.style",
      "options": [
        {
          "value": "button",
          "label": "t:common.styles.button.solid"
        },
        {
          "value": "button button-outline",
          "label": "t:common.styles.button.outline"
        },
        {
          "value": "button button-ghost",
          "label": "t:common.styles.button.ghost"
        }
      ],
      "default": "button button-outline"
    },
    {
      "type": "header",
      "content": "t:common.headers.stamps"
    },
    {
      "type": "select",
      "id": "stamp_title_color",
      "label": "t:common.labels.title.color",
      "options": [
        {
          "value": "text-black",
          "label": "t:common.colors.black"
        },
        {
          "value": "text-neutral-600",
          "label": "t:common.colors.neutral"
        },
        {
          "value": "text-white",
          "label": "t:common.colors.white"
        },
        {
          "value": "text-primary",
          "label": "t:common.colors.primary"
        },
        {
          "value": "text-accent",
          "label": "t:common.colors.accent"
        },
        {
          "value": "text-secondary",
          "label": "t:common.colors.secondary"
        },
        {
          "value": "text-tertiary",
          "label": "t:common.colors.tertiary"
        }
      ],
      "default": "text-black"
    },
    {
      "type": "select",
      "id": "stamp_title_size",
      "label": "t:common.labels.title.size",
      "options": [
        {
          "value": "text-h3",
          "label": "t:common.sizes.extra_large"
        },
        {
          "value": "text-h5",
          "label": "t:common.sizes.large"
        },
        {
          "value": "text-body-lg",
          "label": "t:common.sizes.medium"
        },
        {
          "value": "text-body-base",
          "label": "t:common.sizes.small"
        },
        {
          "value": "text-body-sm",
          "label": "t:common.sizes.tiny"
        }
      ],
      "default": "text-body-sm"
    },
    {
      "type": "radio",
      "id": "stamp_size",
      "label": "t:common.labels.tags.size",
      "options": [
        {
          "value": "h-[6rem] w-[6rem]",
          "label": "t:common.sizes.large"
        },
        {
          "value": "h-[5rem] w-[5rem]",
          "label": "t:common.sizes.medium"
        },
        {
          "value": "h-[4rem] w-[4rem]",
          "label": "t:common.sizes.small"
        }
      ],
      "default": "h-[4rem] w-[4rem]"
    },
    {
      "type": "header",
      "content": "t:common.labels.observation.style"
    },
    {
      "type": "select",
      "id": "title_tag",
      "label": "t:common.labels.title.tag",
      "options": [
        {
          "value": "h1",
          "label": "t:common.headings.h1"
        },
        {
          "value": "h2",
          "label": "t:common.headings.h2"
        },
        {
          "value": "h3",
          "label": "t:common.headings.h3"
        },
        {
          "value": "h4",
          "label": "t:common.headings.h4"
        },
        {
          "value": "h5",
          "label": "t:common.headings.h5"
        },
        {
          "value": "h6",
          "label": "t:common.headings.h6"
        }
      ],
      "default": "h2"
    },
    {
      "type": "select",
      "id": "title_color",
      "label": "t:common.labels.title.color",
      "options": [
        {
          "value": "text-black",
          "label": "t:common.colors.black"
        },
        {
          "value": "text-neutral-600",
          "label": "t:common.colors.neutral"
        },
        {
          "value": "text-white",
          "label": "t:common.colors.white"
        },
        {
          "value": "text-primary",
          "label": "t:common.colors.primary"
        },
        {
          "value": "text-accent",
          "label": "t:common.colors.accent"
        },
        {
          "value": "text-secondary",
          "label": "t:common.colors.secondary"
        },
        {
          "value": "text-tertiary",
          "label": "t:common.colors.tertiary"
        }
      ],
      "default": "text-black"
    },
    {
      "type": "select",
      "id": "title_size",
      "label": "t:common.labels.title.size",
      "options": [
        {
          "value": "text-h3",
          "label": "t:common.sizes.extra_large"
        },
        {
          "value": "text-h5",
          "label": "t:common.sizes.large"
        },
        {
          "value": "text-body-lg",
          "label": "t:common.sizes.medium"
        },
        {
          "value": "text-body-base",
          "label": "t:common.sizes.small"
        },
        {
          "value": "text-body-sm",
          "label": "t:common.sizes.tiny"
        }
      ],
      "default": "text-body-base"
    },
    {
      "type": "select",
      "id": "description_color",
      "label": "t:common.labels.description.color",
      "options": [
        {
          "value": "text-black",
          "label": "t:common.colors.black"
        },
        {
          "value": "text-neutral-600",
          "label": "t:common.colors.neutral"
        },
        {
          "value": "text-white",
          "label": "t:common.colors.white"
        },
        {
          "value": "text-primary",
          "label": "t:common.colors.primary"
        },
        {
          "value": "text-accent",
          "label": "t:common.colors.accent"
        },
        {
          "value": "text-secondary",
          "label": "t:common.colors.secondary"
        },
        {
          "value": "text-tertiary",
          "label": "t:common.colors.tertiary"
        }
      ],
      "default": "text-neutral-600"
    },
    {
      "type": "select",
      "id": "description_size",
      "label": "t:common.labels.description.size",
      "options": [
        {
          "value": "text-h3",
          "label": "t:common.sizes.extra_large"
        },
        {
          "value": "text-h5",
          "label": "t:common.sizes.large"
        },
        {
          "value": "text-body-lg",
          "label": "t:common.sizes.medium"
        },
        {
          "value": "text-body-base",
          "label": "t:common.sizes.small"
        },
        {
          "value": "text-body-sm",
          "label": "t:common.sizes.tiny"
        }
      ],
      "default": "text-body-sm"
    },
    {
      "type": "header",
      "content": "t:common.headers.accordion_title"
    },
    {
      "type": "select",
      "id": "accordion_title_color",
      "label": "t:common.labels.title.color",
      "options": [
        {
          "value": "text-black",
          "label": "t:common.colors.black"
        },
        {
          "value": "text-neutral-600",
          "label": "t:common.colors.neutral"
        },
        {
          "value": "text-white",
          "label": "t:common.colors.white"
        },
        {
          "value": "text-primary",
          "label": "t:common.colors.primary"
        },
        {
          "value": "text-accent",
          "label": "t:common.colors.accent"
        },
        {
          "value": "text-secondary",
          "label": "t:common.colors.secondary"
        },
        {
          "value": "text-tertiary",
          "label": "t:common.colors.tertiary"
        }
      ],
      "default": "text-black"
    },
    {
      "type": "select",
      "id": "accordion_title_size",
      "label": "t:common.labels.title.size",
      "options": [
        {
          "value": "text-h3",
          "label": "t:common.sizes.extra_large"
        },
        {
          "value": "text-h5",
          "label": "t:common.sizes.large"
        },
        {
          "value": "text-body-lg",
          "label": "t:common.sizes.medium"
        },
        {
          "value": "text-body-base",
          "label": "t:common.sizes.small"
        },
        {
          "value": "text-body-sm",
          "label": "t:common.sizes.tiny"
        }
      ],
      "default": "text-body-base"
    },
    {
      "type": "header",
      "content": "t:common.headers.accordion_text"
    },
    {
      "type": "select",
      "id": "accordion_text_color",
      "label": "t:common.labels.text.color",
      "options": [
        {
          "value": "text-black",
          "label": "t:common.colors.black"
        },
        {
          "value": "text-neutral-600",
          "label": "t:common.colors.neutral"
        },
        {
          "value": "text-white",
          "label": "t:common.colors.white"
        },
        {
          "value": "text-primary",
          "label": "t:common.colors.primary"
        },
        {
          "value": "text-accent",
          "label": "t:common.colors.accent"
        },
        {
          "value": "text-secondary",
          "label": "t:common.colors.secondary"
        },
        {
          "value": "text-tertiary",
          "label": "t:common.colors.tertiary"
        }
      ],
      "default": "text-neutral-600"
    },
    {
      "type": "select",
      "id": "accordion_text_size",
      "label": "t:common.labels.text.size",
      "options": [
        {
          "value": "text-h3",
          "label": "t:common.sizes.extra_large"
        },
        {
          "value": "text-h5",
          "label": "t:common.sizes.large"
        },
        {
          "value": "text-body-lg",
          "label": "t:common.sizes.medium"
        },
        {
          "value": "text-body-base",
          "label": "t:common.sizes.small"
        },
        {
          "value": "text-body-sm",
          "label": "t:common.sizes.tiny"
        }
      ],
      "default": "text-body-base"
    },
    {
      "type": "header",
      "content": "t:common.headers.accordion_icon"
    },
    {
      "type": "select",
      "id": "accordion_icon_color",
      "label": "t:common.labels.icon.color",
      "options": [
        {
          "value": "text-primary",
          "label": "t:common.colors.primary"
        },
        {
          "value": "text-accent",
          "label": "t:common.colors.accent"
        },
        {
          "value": "text-secondary",
          "label": "t:common.colors.secondary"
        },
        {
          "value": "text-tertiary",
          "label": "t:common.colors.tertiary"
        },
        {
          "value": "text-black",
          "label": "t:common.colors.black"
        },
        {
          "value": "text-white",
          "label": "t:common.colors.white"
        }
      ],
      "default": "text-primary"
    },
    {
      "type": "header",
      "content": "t:common.headers.background"
    },
    {
      "type": "select",
      "id": "background_color",
      "label": "t:common.labels.background.color",
      "options": [
        {
          "value": "bg-white",
          "label": "t:common.colors.white"
        },
        {
          "value": "bg-neutral-100",
          "label": "t:common.colors.neutral"
        },
        {
          "value": "bg-black",
          "label": "t:common.colors.black"
        },
        {
          "value": "bg-primary",
          "label": "t:common.colors.primary"
        },
        {
          "value": "bg-accent",
          "label": "t:common.colors.accent"
        },
        {
          "value": "bg-secondary",
          "label": "t:common.colors.secondary"
        },
        {
          "value": "bg-tertiary",
          "label": "t:common.colors.tertiary"
        }
      ],
      "default": "bg-white"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "sending_as_a_gift",
      "name": "t:common.headers.sending_as_a_gift",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "text_color",
          "label": "t:common.labels.text.color",
          "options": [
            {
              "value": "text-black",
              "label": "t:common.colors.black"
            },
            {
              "value": "text-neutral-600",
              "label": "t:common.colors.neutral"
            },
            {
              "value": "text-white",
              "label": "t:common.colors.white"
            },
            {
              "value": "text-primary",
              "label": "t:common.colors.primary"
            },
            {
              "value": "text-accent",
              "label": "t:common.colors.accent"
            },
            {
              "value": "text-secondary",
              "label": "t:common.colors.secondary"
            },
            {
              "value": "text-tertiary",
              "label": "t:common.colors.tertiary"
            }
          ],
          "default": "text-black"
        },
        {
          "type": "select",
          "id": "text_size",
          "label": "t:common.labels.text.size",
          "options": [
            {
              "value": "text-h3",
              "label": "t:common.sizes.extra_large"
            },
            {
              "value": "text-h5",
              "label": "t:common.sizes.large"
            },
            {
              "value": "text-body-lg",
              "label": "t:common.sizes.medium"
            },
            {
              "value": "text-body-base",
              "label": "t:common.sizes.small"
            },
            {
              "value": "text-body-sm",
              "label": "t:common.sizes.tiny"
            }
          ],
          "default": "text-body-base"
        },
        {
          "type": "text",
          "id": "text",
          "label": "t:common.labels.text.write"
        }
      ]
    },
    {
      "type": "gallery",
      "name": "t:common.headers.gallery",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "t:common.headers.navigation_buttons"
        },
        {
          "type": "select",
          "id": "navigation_color",
          "label": "t:common.labels.buttons.color",
          "options": [
            {
              "value": "button-icon-primary",
              "label": "t:common.colors.primary"
            },
            {
              "value": "button-icon-accent",
              "label": "t:common.colors.accent"
            },
            {
              "value": "button-icon-secondary",
              "label": "t:common.colors.secondary"
            },
            {
              "value": "button-icon-tertiary",
              "label": "t:common.colors.tertiary"
            },
            {
              "value": "button-icon-black",
              "label": "t:common.colors.black"
            },
            {
              "value": "button-icon-white",
              "label": "t:common.colors.white"
            }
          ],
          "default": "button-icon-black"
        },
        {
          "type": "radio",
          "id": "navigation_size",
          "label": "t:common.labels.buttons.size",
          "options": [
            {
              "value": "w-16 h-16",
              "label": "t:common.sizes.large"
            },
            {
              "value": "w-12 h-12",
              "label": "t:common.sizes.medium"
            },
            {
              "value": "w-8 h-8 p-1",
              "label": "t:common.sizes.small"
            }
          ],
          "default": "w-12 h-12"
        },
        {
          "type": "select",
          "id": "navigation_style",
          "label": "t:common.labels.buttons.style",
          "options": [
            {
              "value": "button-icon",
              "label": "t:common.styles.button.solid"
            },
            {
              "value": "button-icon button-icon-outline",
              "label": "t:common.styles.button.outline"
            },
            {
              "value": "button-icon button-icon-ghost",
              "label": "t:common.styles.button.ghost"
            }
          ],
          "default": "button-icon"
        }
      ]
    },
    {
      "type": "product_name",
      "name": "t:common.headers.product_name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "title_tag",
          "label": "t:common.labels.title.tag",
          "options": [
            {
              "value": "h1",
              "label": "t:common.headings.h1"
            },
            {
              "value": "h2",
              "label": "t:common.headings.h2"
            },
            {
              "value": "h3",
              "label": "t:common.headings.h3"
            },
            {
              "value": "h4",
              "label": "t:common.headings.h4"
            },
            {
              "value": "h5",
              "label": "t:common.headings.h5"
            },
            {
              "value": "h6",
              "label": "t:common.headings.h6"
            }
          ],
          "default": "h1"
        },
        {
          "type": "select",
          "id": "title_color",
          "label": "t:common.labels.title.color",
          "options": [
            {
              "value": "text-black",
              "label": "t:common.colors.black"
            },
            {
              "value": "text-neutral-600",
              "label": "t:common.colors.neutral"
            },
            {
              "value": "text-white",
              "label": "t:common.colors.white"
            },
            {
              "value": "text-primary",
              "label": "t:common.colors.primary"
            },
            {
              "value": "text-accent",
              "label": "t:common.colors.accent"
            },
            {
              "value": "text-secondary",
              "label": "t:common.colors.secondary"
            },
            {
              "value": "text-tertiary",
              "label": "t:common.colors.tertiary"
            }
          ],
          "default": "text-black"
        },
        {
          "type": "select",
          "id": "title_size",
          "label": "t:common.labels.title.size",
          "options": [
            {
              "value": "text-h2 md:text-h1",
              "label": "t:common.sizes.extra_large"
            },
            {
              "value": "text-h3 md:text-h2",
              "label": "t:common.sizes.large"
            },
            {
              "value": "text-h4 md:text-h3",
              "label": "t:common.sizes.medium"
            },
            {
              "value": "text-h5 md:text-h4",
              "label": "t:common.sizes.small"
            },
            {
              "value": "text-h6 md:text-h5",
              "label": "t:common.sizes.tiny"
            }
          ],
          "default": "text-h5 md:text-h4"
        }
      ]
    },
    {
      "type": "product_description",
      "name": "t:common.headers.product_description",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "description_color",
          "label": "t:common.labels.description.color",
          "options": [
            {
              "value": "text-black",
              "label": "t:common.colors.black"
            },
            {
              "value": "text-neutral-600",
              "label": "t:common.colors.neutral"
            },
            {
              "value": "text-white",
              "label": "t:common.colors.white"
            },
            {
              "value": "text-primary",
              "label": "t:common.colors.primary"
            },
            {
              "value": "text-accent",
              "label": "t:common.colors.accent"
            },
            {
              "value": "text-secondary",
              "label": "t:common.colors.secondary"
            },
            {
              "value": "text-tertiary",
              "label": "t:common.colors.tertiary"
            }
          ],
          "default": "text-black"
        },
        {
          "type": "select",
          "id": "description_size",
          "label": "t:common.labels.description.size",
          "options": [
            {
              "value": "text-body-lg",
              "label": "t:common.sizes.large"
            },
            {
              "value": "text-body-base",
              "label": "t:common.sizes.medium"
            },
            {
              "value": "text-body-sm",
              "label": "t:common.sizes.small"
            }
          ],
          "default": "text-body-sm"
        }
      ]
    },
    {
      "type": "price",
      "name": "t:common.headers.price",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "title_tag",
          "label": "t:common.labels.title.tag",
          "options": [
            {
              "value": "h1",
              "label": "t:common.headings.h1"
            },
            {
              "value": "h2",
              "label": "t:common.headings.h2"
            },
            {
              "value": "h3",
              "label": "t:common.headings.h3"
            },
            {
              "value": "h4",
              "label": "t:common.headings.h4"
            },
            {
              "value": "h5",
              "label": "t:common.headings.h5"
            },
            {
              "value": "h6",
              "label": "t:common.headings.h6"
            }
          ],
          "default": "h3"
        },
        {
          "type": "select",
          "id": "price_color",
          "label": "t:common.labels.price.color",
          "options": [
            {
              "value": "text-black",
              "label": "t:common.colors.black"
            },
            {
              "value": "text-neutral-600",
              "label": "t:common.colors.neutral"
            },
            {
              "value": "text-white",
              "label": "t:common.colors.white"
            },
            {
              "value": "text-primary",
              "label": "t:common.colors.primary"
            },
            {
              "value": "text-accent",
              "label": "t:common.colors.accent"
            },
            {
              "value": "text-secondary",
              "label": "t:common.colors.secondary"
            },
            {
              "value": "text-tertiary",
              "label": "t:common.colors.tertiary"
            }
          ],
          "default": "text-black"
        },
        {
          "type": "select",
          "id": "price_size",
          "label": "t:common.labels.price.size",
          "options": [
            {
              "value": "text-h2 md:text-h1",
              "label": "t:common.sizes.extra_large"
            },
            {
              "value": "text-h3 md:text-h2",
              "label": "t:common.sizes.large"
            },
            {
              "value": "text-h4 md:text-h3",
              "label": "t:common.sizes.medium"
            },
            {
              "value": "text-h5 md:text-h4",
              "label": "t:common.sizes.small"
            },
            {
              "value": "text-h6 md:text-h5",
              "label": "t:common.sizes.tiny"
            }
          ],
          "default": "text-h3 md:text-h2"
        },
        {
          "type": "radio",
          "id": "show_installment",
          "label": "t:sections.main_product_detail_classic.settings.show_installment",
          "options": [
            {
              "value": "true",
              "label": "t:common.options.yes"
            },
            {
              "value": "false",
              "label": "t:common.options.no"
            }
          ],
          "default": "true"
        },
        {
          "type": "header",
          "content": "t:common.headers.discount"
        },
        {
          "type": "radio",
          "id": "show_discount",
          "label": "t:sections.main_product_detail_classic.settings.show_discount",
          "options": [
            {
              "value": "true",
              "label": "t:common.options.yes"
            },
            {
              "value": "false",
              "label": "t:common.options.no"
            }
          ],
          "default": "true"
        },
        {
          "type": "select",
          "id": "discount_text_color",
          "label": "t:common.labels.text.color",
          "options": [
            {
              "value": "text-black",
              "label": "t:common.colors.black"
            },
            {
              "value": "text-neutral-600",
              "label": "t:common.colors.neutral"
            },
            {
              "value": "text-white",
              "label": "t:common.colors.white"
            },
            {
              "value": "text-primary",
              "label": "t:common.colors.primary"
            },
            {
              "value": "text-accent",
              "label": "t:common.colors.accent"
            },
            {
              "value": "text-secondary",
              "label": "t:common.colors.secondary"
            },
            {
              "value": "text-tertiary",
              "label": "t:common.colors.tertiary"
            }
          ],
          "default": "text-white"
        },
        {
          "type": "select",
          "id": "discount_color",
          "label": "t:common.labels.discount.color",
          "options": [
            {
              "value": "bg-black",
              "label": "t:common.colors.black"
            },
            {
              "value": "bg-neutral-600",
              "label": "t:common.colors.neutral"
            },
            {
              "value": "bg-white",
              "label": "t:common.colors.white"
            },
            {
              "value": "bg-primary",
              "label": "t:common.colors.primary"
            },
            {
              "value": "bg-accent",
              "label": "t:common.colors.accent"
            },
            {
              "value": "bg-secondary",
              "label": "t:common.colors.secondary"
            },
            {
              "value": "bg-tertiary",
              "label": "t:common.colors.tertiary"
            }
          ],
          "default": "bg-primary"
        },
        {
          "type": "select",
          "id": "discount_size",
          "label": "t:common.labels.discount.size",
          "options": [
            {
              "value": "text-body-lg",
              "label": "t:common.sizes.large"
            },
            {
              "value": "text-body-base",
              "label": "t:common.sizes.medium"
            },
            {
              "value": "text-body-sm",
              "label": "t:common.sizes.small"
            }
          ],
          "default": "text-body-sm"
        }
      ]
    },
    {
      "type": "variant_selector",
      "name": "t:sections.main_product.blocks.variant_selector.name",
      "limit": 1,
      "settings": []
    },
    {
      "type": "stamp",
      "name": "t:common.headers.stamp",
      "settings": [
        {
          "type": "header",
          "content": "t:common.headers.text"
        },
        {
          "id": "text",
          "type": "text",
          "label": "t:common.labels.text.write",
          "default": "Ttulo da estampa"
        },
        {
          "type": "header",
          "content": "t:common.headers.image"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:common.labels.image.select"
        }
      ]
    },
    {
      "type": "product_suggestion",
      "name": "t:common.headers.product_suggestion",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "t:common.headers.text"
        },
        {
          "id": "text",
          "type": "text",
          "label": "t:common.labels.text.write",
          "default": "Combina com"
        },
        {
          "id": "products",
          "type": "product_list",
          "label": "t:common.labels.product_list.select"
        }
      ]
    },
    {
      "type": "navigation_button",
      "name": "t:common.blocks.button_navigation",
      "settings": [
        {
          "type": "header",
          "content": "t:common.headers.button"
        },
        {
          "type": "select",
          "id": "button_color",
          "label": "t:common.labels.button.color",
          "options": [
            {
              "value": "button-primary",
              "label": "t:common.colors.primary"
            },
            {
              "value": "button-accent",
              "label": "t:common.colors.accent"
            },
            {
              "value": "button-secondary",
              "label": "t:common.colors.secondary"
            },
            {
              "value": "button-tertiary",
              "label": "t:common.colors.tertiary"
            },
            {
              "value": "button-black",
              "label": "t:common.colors.black"
            },
            {
              "value": "button-white",
              "label": "t:common.colors.white"
            }
          ],
          "default": "button-primary"
        },
        {
          "type": "radio",
          "id": "button_width",
          "label": "t:common.labels.button.size",
          "options": [
            {
              "value": "py-3",
              "label": "t:common.sizes.large"
            },
            {
              "value": "py-2",
              "label": "t:common.sizes.medium"
            },
            {
              "value": "py-1",
              "label": "t:common.sizes.small"
            }
          ],
          "default": "py-2"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "t:common.labels.button.style",
          "options": [
            {
              "value": "button",
              "label": "t:common.styles.button.solid"
            },
            {
              "value": "button button-outline",
              "label": "t:common.styles.button.outline"
            },
            {
              "value": "button button-ghost",
              "label": "t:common.styles.button.ghost"
            }
          ],
          "default": "button button-ghost"
        },
        {
          "id": "text",
          "type": "text",
          "label": "t:common.labels.text.write",
          "default": "Texto do link aqui"
        },
        {
          "type": "header",
          "content": "t:common.headers.link"
        },
        {
          "type": "url",
          "id": "url",
          "label": "t:common.labels.link.select"
        },
        {
          "type": "header",
          "content": "t:common.headers.image"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:common.labels.image.select"
        }
      ]
    },
    {
      "type": "quantity_selector",
      "name": "t:sections.main_product.blocks.quantity_selector.name",
      "limit": 1,
      "settings": [
        {
          "id": "title",
          "type": "text",
          "label": "t:common.labels.title.write",
          "default": "Quantidade"
        }
      ]
    },
    {
      "type": "buy_button",
      "name": "t:common.headers.button",
      "limit": 2,
      "settings": [
        {
          "type": "select",
          "id": "button_color",
          "label": "t:common.labels.button.color",
          "options": [
            {
              "value": "button-primary",
              "label": "t:common.colors.primary"
            },
            {
              "value": "button-accent",
              "label": "t:common.colors.accent"
            },
            {
              "value": "button-secondary",
              "label": "t:common.colors.secondary"
            },
            {
              "value": "button-tertiary",
              "label": "t:common.colors.tertiary"
            },
            {
              "value": "button-black",
              "label": "t:common.colors.black"
            },
            {
              "value": "button-white",
              "label": "t:common.colors.white"
            }
          ],
          "default": "button-primary"
        },
        {
          "type": "radio",
          "id": "button_width",
          "label": "t:common.labels.button.size",
          "options": [
            {
              "value": "py-3",
              "label": "t:common.sizes.large"
            },
            {
              "value": "py-2",
              "label": "t:common.sizes.medium"
            },
            {
              "value": "py-1",
              "label": "t:common.sizes.small"
            }
          ],
          "default": "py-2"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "t:common.labels.button.style",
          "options": [
            {
              "value": "button",
              "label": "t:common.styles.button.solid"
            },
            {
              "value": "button button-outline",
              "label": "t:common.styles.button.outline"
            },
            {
              "value": "button button-ghost",
              "label": "t:common.styles.button.ghost"
            }
          ],
          "default": "button"
        },
        {
          "type": "radio",
          "id": "button_function",
          "label": "t:common.labels.button.function",
          "options": [
            {
              "value": "buy_now",
              "label": "t:sections.main_product_detail_classic.settings.buy_now"
            },
            {
              "value": "add_to_cart",
              "label": "t:sections.main_product_detail_classic.settings.add_to_cart"
            }
          ],
          "default": "buy_now"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "t:common.labels.button.write",
          "default": "Boto"
        }
      ]
    },
    {
      "type": "accordion",
      "name": "t:sections.main_product.blocks.accordion.name",
      "settings": [
        {
          "type": "header",
          "content": "t:common.headers.image"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:common.labels.image.select"
        },
        {
          "type": "header",
          "content": "t:common.headers.video"
        },
        {
          "type": "video",
          "id": "video",
          "label": "t:common.labels.video.select"
        },
        {
          "type": "header",
          "content": "t:common.headers.title"
        },
        {
          "id": "title",
          "type": "text",
          "label": "t:common.labels.title.write",
          "default": "Ttulo do acordeo"
        },
        {
          "type": "header",
          "content": "t:common.headers.text"
        },
        {
          "id": "content",
          "type": "richtext",
          "label": "t:common.labels.text.write",
          "default": "<p>Contedo do acordeo aqui</p>"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:common.headers.observation",
      "settings": [
        {
          "type": "header",
          "content": "t:common.headers.title"
        },
        {
          "id": "title",
          "type": "text",
          "label": "t:common.labels.title.write",
          "default": "Quantidade"
        },
        {
          "type": "header",
          "content": "t:common.headers.text"
        },
        {
          "id": "content",
          "type": "richtext",
          "label": "t:common.labels.text.write",
          "default": "<p>Para criar roupas e produtos fabulosos e de alta qualidade que amamos. Proporcionar a cada cliente a experincia de compra mais incrvel sempre. Sempre trabalhar para ter um impacto ambiental positivo.</p>"
        }
      ]
    }
  ]
}
{% endschema %}
